<div class="content-grid" infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="200"
     (scrolled)="onScroll()">
  <!-- GRID -->
  <div class="grid grid-3-6-3 mobile-prefer-content">
    <!-- GRID COLUMN -->
    <div class="grid-column"></div>
    <!-- SECTION BANNER -->
    <div class="grid-column">
      <div class="widget-box">
        <p class="widget-box-title text-center">Gợi ý kết bạn &nbsp;<i class="fas fa-user-alt"></i></p>
        <div class="widget-box-content">
          <div class="user-status-list">
            <!-- content -->
            <div *ngFor="let data of suggestionToMakeFriendsDTO">
              <div class="user-status request-small dropdown-item">
                <a class="user-status-avatar" href="profile-timeline.html">
                  <div class="user-avatar small no-outline">
                    <div class="user-avatar-content">
                      <!--                      <div class="hexagon-image-30-32" [data-src] = 'a.avatar'> </div>-->
                      <img class="hexagon-image-30-32" src="{{data.avatar}}" style="border-radius: 50%; width: 30px;height: 30px;">
                    </div>
                  </div>
                </a>
                <p class="user-status-title"><a class="bold" data-toggle="tooltip"
                                                href="profile-timeline.html">{{data.fullName}}</a>
                </p>
                <p class="user-status-text small">{{data.mutualFriends}} bạn chung</p>
                <!--                <div class="action-request-list">-->
                <!--                  <div class="action-request accept">-->
                <!--                    <i class="fas fa-user-clock"></i>-->
                <!--                  </div>-->
                <!--                </div>-->
                <div class="action-request-list">
                  <div class="action-request accept">
                    <i class="fas fa-user-plus"></i>
                  </div>
<!--                  <div class="action-request accept">-->
<!--                    <i class="far fa-trash-alt"></i>-->
<!--                  </div>-->
                </div>
              </div>
              &nbsp;
            </div>
            &nbsp;
            <!-- end content -->
            <!--            &lt;!&ndash; content &ndash;&gt;-->
            <!--            <div class="user-status request-small dropdown-item">-->
            <!--              <a class="user-status-avatar" href="profile-timeline.html">-->
            <!--                <div class="user-avatar small no-outline">-->
            <!--                  <div class="user-avatar-content">-->
            <!--                    <div class="hexagon-image-30-32" data-src="assets/img/avatar/07.jpg"></div>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </a>-->
            <!--              <p class="user-status-title"><a class="bold" href="profile-timeline.html">Hòa </a></p>-->
            <!--              <p class="user-status-text small">3 bạn bè chung</p>-->
            <!--              <div class="action-request-list">-->
            <!--                <div class="action-request accept">-->
            <!--                  <i class="fas fa-user-plus"></i>-->
            <!--                </div>-->
            <!--                <div class="action-request accept" style="margin-left: -5px;">-->
            <!--                  <i class="far fa-trash-alt"></i>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->

            <!--            &lt;!&ndash; end content &ndash;&gt;-->
            <!--            <div>-->
            <!--              <button><i class="fas fa-plus"></i> &nbsp;Xem thêm</button>-->
            <!--            </div>-->
          </div>
        </div>
      </div>

      <!-- /GRID COLUMN -->

      <!-- GRID COLUMN -->
      <div class="grid-column"></div>
      <!-- /GRID COLUMN -->
    </div>
    <!-- /GRID -->
  </div>
  <!-- /CONTENT GRID -->
</div>
