<div class="popup-box mid popup-manage-group">
  <!-- POPUP CLOSE BUTTON -->
  <div class="popup-close-button popup-manage-group-trigger">
    <!-- POPUP CLOSE BUTTON ICON -->
    <svg class="popup-close-button-icon icon-cross">
      <use xlink:href="#svg-cross"></use>
    </svg>
    <!-- /POPUP CLOSE BUTTON ICON -->
  </div>

  <div class="poll-box">
    <h4>Xác nhận gửi cảnh cáo đến thành viên</h4>
    <!-- POLL TITLE -->
    <!--    <p class="poll-title">Xác nhận gửi cảnh cáo đến thành viên</p>-->
    <!-- /POLL TITLE -->
    <!-- POLL TEXT -->
    <p class="poll-text">Gửi email đến thành viên.</p>
    <!-- /POLL TEXT -->
    <!-- FORM -->
    <div class="form">
      <div class="form-row">
        <label style="margin-bottom: 5px">Xử lý vi phạm:</label>
        <select (change)="report($event.target.value)" style="margin-bottom: 5px">
          <option value="1">Cảnh cáo nhắc nhở</option>
          <option value="2">Khóa 1 tuần</option>
          <option value="3">Khóa 1 tháng</option>
          <option value="4">Khóa vĩnh viễn</option>
        </select>
        <label style="margin-bottom: 5px; margin-top: 10px">Nội dung vi phạm:</label>
        <select #reportContent name="" id=""  style="margin-bottom: 5px">
          <option [value]="reportContent.name"  *ngFor="let reportContent of reportContentList">{{reportContent.name}}</option>
        </select>
      </div>
      <!-- /FORM ROW -->
      <div style="margin-top: 15px" class="alert alert-secondary" role="alert">
        <i class="fas fa-exclamation-triangle"></i> Hãy liên hệ với cơ quan hành pháp tại khu vực bạn nếu ai
        đó đang gặp nguy hiểm.
      </div>
      <!-- /FORM -->
      <!-- POLL BOX ACTIONS -->
      <div class="poll-box-actions" style="margin-left: 58%;margin-top:10px">
        <!-- BUTTON -->
        <p class="button secondary small popup-manage-group-trigger" (click)="getId(reportContent.value)">Gửi</p>
        <!-- /BUTTON -->
        <!-- BUTTON -->
        <p class="button white small popup-manage-group-trigger">Đóng</p>
        <!-- /BUTTON -->
      </div>
      <!-- /POLL BOX ACTIONS -->
    </div>

  </div>

</div>
<div class="content-grid" style="transform: translate(167.5px, 0px); transition: transform 0.4s ease-in-out 0s;">

  <!--  <div class="section-banner">-->

  <!--    <img class="section-banner-icon" src="img/banner/overview-icon.png" alt="overview-icon">-->

  <!--    <p class="section-banner-title">Overview</p>-->

  <!--    <p class="section-banner-text">Review your account, see stats and more!</p>-->
  <!--  </div>-->
  <div class="grid">
  </div>
  <div class="grid">
    <div class="grid grid-9-3 stretched">
      <div class="grid-column">
        <div class="widget-box">
          <p class="widget-box-title" style="font-size: large">Phản hồi từ thành viên</p>
          <!--          <a href="warning-member.html" class="button secondary float-right" style="width: auto; padding: 0 15px; color: lightgoldenrodyellow">List of members warned</a>-->
          <div class="widget-box-content no-margin-top">
            <div class="table table-top-friends join-rows">
              <div class="table-header">
                <div class="table-header-column centered padded"  style="width: 10%">
                  <p class="table-header-title">STT</p>
                </div>
                <div class="table-header-column" style="width: 18%">
                  <p class="table-header-title">Người gửi</p>
                </div>
                <div class="table-header-column padded">
                  <p class="table-header-title">Nội dung</p>
                </div>
                <div class="table-header-column padded">
                  <p class="table-header-title">Người bị tố cáo</p>
                </div>

                <div class="table-header-column centered padded">
                  <p class="table-header-title">Ngày gửi</p>
                </div>
                <div class="table-header-column padded" style="width: 14%">
                  <p class="table-header-title">Trạng thái</p>
                </div>
              </div>
              <div class="table-body">
                <div class="table-row tiny" *ngFor="let feedback of getFeedbackList| paginate: { itemsPerPage: 5, currentPage: p }, index as i">
                  <div class="table-column centered padded">
                    <p class="table-title">{{i+1}}</p>
                  </div>
                  <div class="table-column">
                    <p class="table-title">{{feedback.sender}}</p>
                  </div>
                  <div class="table-column">
                    <p class="table-title">{{feedback.content}}</p>
                  </div>
                  <div class="table-column">
                    <p class="table-title">{{feedback.accountTarget}}</p>
                  </div>
                  <div class="table-column centered padded">
                    <p class="table-title">{{feedback.sentDate | date: 'dd-MM-yyyy'}}</p>
                  </div>
                  <div class="table-column centered padded" style="width:16%">
                    <div class="table-title" *ngIf="feedback.status == false; else elseBlock" >
                    <p class="button secondary full popup-manage-group-trigger" (click)="getIdAccountTarget(feedback.accountTarget)">Chưa xử lý</p>
                    </div>
                    <ng-template #elseBlock>
                      <p class="tag-item bg-success float-left">Đã xử lý</p>
                    </ng-template>
                  </div>
                </div>
                <!-- /TABLE ROW -->
              </div>
              <!-- /TABLE BODY -->

            </div>
            <pagination-controls
              previousLabel="Trước"
              nextLabel="Sau"
              class="float-right" (pageChange)="p = $event">
            </pagination-controls>
            <!-- /TABLE -->

            <!-- /SECTION PAGER BAR -->

          </div>
          <!-- WIDGET BOX CONTENT -->
          <a class="tag-item float-left centered padded float-lg-right" href="/member"
             style="margin-right: 50px; clear: both">Quay lại</a>
        </div>
        <!-- /WIDGET BOX -->
      </div>
      <!-- /GRID COLUMN -->

      <!-- GRID COLUMN -->
      <div class="grid-column">
        <!-- WIDGET BOX -->
        <div class="widget-box">
          <!-- WIDGET BOX ACTIONS -->
          <div class="widget-box-actions">
            <!-- WIDGET BOX ACTION -->
            <div class="widget-box-action">
              <!-- WIDGET BOX TITLE -->
              <p class="widget-box-title">Thống kê</p>
              <!-- /WIDGET BOX TITLE -->
            </div>
            <!-- /WIDGET BOX ACTION -->
          </div>
          <!-- /WIDGET BOX ACTIONS -->

          <!-- WIDGET BOX CONTENT -->
          <div class="widget-box-content">
            <!-- PROGRESS ARC WRAP -->
            <div class="progress-arc-wrap">
              <!-- PROGRESS ARC -->
              <div class="progress-arc"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <canvas id="engagements-chart" style="display: block; height: 140px; width: 140px;" width="175" height="175" class="chartjs-render-monitor"></canvas>
              </div>
              <!-- PROGRESS ARC -->

              <!-- PROGRESS ARC INFO -->
              <div class="progress-arc-info">
                <!-- PROGRESS ARC TITLE -->
                <p class="progress-arc-title">28.8K</p>
                <!-- /PROGRESS ARC TITLE -->

                <!-- PROGRESS ARC TEXT -->
                <p class="progress-arc-text">Tổng thành viên</p>
                <!-- /PROGRESS ARC TEXT -->
              </div>
              <!-- /PROGRESS ARC INFO -->
            </div>
            <!-- /PROGRESS ARC WRAP -->

            <!-- USER STATS -->
            <div class="user-stats reference">
              <!-- USER STAT -->
              <div class="user-stat big">
                <!-- REFERENCE BULLET -->
                <div class="reference-bullet secondary"></div>
                <!-- /REFERENCE BULLET -->

                <!-- USER STAT TITLE -->
                <p class="user-stat-title">18.3K</p>
                <!-- /USER STAT TITLE -->

                <!-- USER STAT TEXT -->
                <p class="user-stat-text">Tổng lượng tương tác</p>
                <!-- /USER STAT TEXT -->
              </div>
              <!-- /USER STAT -->

              <!-- USER STAT -->
              <div class="user-stat big">
                <!-- REFERENCE BULLET -->
                <div class="reference-bullet primary"></div>
                <!-- /REFERENCE BULLET -->

                <!-- USER STAT TITLE -->
                <p class="user-stat-title">33.2K</p>
                <!-- /USER STAT TITLE -->

                <!-- USER STAT TEXT -->
                <p class="user-stat-text">Bình luận</p>
                <!-- /USER STAT TEXT -->
              </div>
              <!-- /USER STAT -->
            </div>
            <!-- /USER STATS -->

            <!-- USER STATS -->
            <div class="user-stats reference">
              <!-- USER STAT -->
              <div class="user-stat big">
                <!-- REFERENCE BULLET -->
                <div class="reference-bullet blue"></div>
                <!-- /REFERENCE BULLET -->

                <!-- USER STAT TITLE -->
                <p class="user-stat-title">18.1K</p>
                <!-- /USER STAT TITLE -->

                <!-- USER STAT TEXT -->
                <p class="user-stat-text">Chia sẽ</p>
                <!-- /USER STAT TEXT -->
              </div>
              <!-- /USER STAT -->

              <!-- USER STAT -->
              <div class="user-stat big">
                <!-- REFERENCE BULLET -->
                <div class="reference-bullet light-blue"></div>
                <!-- /REFERENCE BULLET -->

                <!-- USER STAT TITLE -->
                <p class="user-stat-title">4.3k</p>
                <!-- /USER STAT TITLE -->

                <!-- USER STAT TEXT -->
                <p class="user-stat-text">Trả lời
                </p>
                <!-- /USER STAT TEXT -->
              </div>
              <!-- /USER STAT -->
            </div>
            <!-- /USER STATS -->
          </div>
          <!-- WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->
      </div>
      <!-- /GRID COLUMN -->
    </div>
    <!-- /GRID -->

    <!-- GRID -->
    <div class="grid grid-3-9 stretched">
      <!-- /GRID -->

      <!-- WIDGET BOX -->
      <!-- /WIDGET BOX -->
    </div>
    <!-- /GRID -->
  </div>

  <script src="src/assets/js/utils/app.js"></script>
  <!-- page loader -->
  <script src="src/assets/js/utils/page-loader.js"></script>
  <!-- simplebar -->
  <script src="src/assets/js/vendor/simplebar.min.js"></script>
  <!-- liquidify -->
  <script src="src/assets/js/utils/liquidify.js"></script>
  <!-- XM_Plugins -->
  <script src="src/assets/js/vendor/xm_plugins.min.js"></script>
  <!-- global.hexagons -->
  <script src="src/assets/js/global/global.hexagons.js"></script>
  <!-- global.tooltips -->
  <script src="src/assets/js/global/global.tooltips.js"></script>
  <!-- global.accordions -->
  <script src="src/assets/js/global/global.accordions.js"></script>
  <!-- global.popups -->
  <script src="src/assets/js/global/global.popups.js"></script>
  <!-- header -->
  <script src="src/assets/js/header/header.js"></script>
  <!-- sidebar -->
  <script src="src/assets/js/sidebar/sidebar.js"></script>
  <!-- content -->
  <script src="src/assets/js/content/content.js"></script>
  <!-- form.utils -->
  <script src="src/assets/js/form/form.utils.js"></script>
  <!-- SVG icons -->
  <script src="src/assets/js/utils/svg-loader.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
</div>
