<div class="popup-box mid popup-manage-group">
  <!-- POPUP CLOSE BUTTON -->
  <div class="popup-close-button popup-manage-group-trigger">
    <!-- POPUP CLOSE BUTTON ICON -->
    <svg class="popup-close-button-icon icon-cross">
      <use xlink:href="#svg-cross"></use>
    </svg>
    <!-- /POPUP CLOSE BUTTON ICON -->
  </div>

  <div class="poll-box">
    <h4 style="margin-left: 40%">Tố cáo</h4>
    <!-- POLL TITLE -->
    <p class="poll-title" style="font-size: 30px; text-align: center">Báo cáo lạm dụng</p>

    <form class="form" [formGroup]="reportForm" (ngSubmit)="report()">
      <!-- FORM ROW -->
      <div class="form-row split">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- FORM INPUT -->
          <div class="form-input small active">
            <label>Ngày report</label>
            <!--            <input type="date" id="account-full-name" name="account_full_name" value="Marina Valentine">-->
            <input class="form-control" formControlName="dateReport" type="date" id="dateReport" readonly>
          </div>
          <!-- /FORM INPUT -->
        </div>
        <!-- /FORM ITEM -->

        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- FORM INPUT -->
          <div class="form-input small active">

            <div class="form-select">

              <label for="account-country">Nội dung tố cáo</label>
              <select id="account-country" name="account_country" formControlName="reportContent">
                <option *ngFor="let reportContent of reportContentList"
                        [value]="reportContent.id">{{reportContent.name}}</option>
              </select>
              <!-- FORM SELECT ICON -->
              <svg class="form-select-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
              </svg>
              <!-- /FORM SELECT ICON -->
            </div>
          </div>
          <!-- /FORM INPUT -->
        </div>
        <!-- /FORM ITEM -->
      </div>
      <!-- /FORM ROW -->

      <!-- FORM ROW -->
      <div class="form-row split">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- FORM INPUT -->
          <div class="form-input small active">
            <label>Người tố cáo: </label>
            <input type="text" class="form-control" formControlName="accountVictim" readonly>
          </div>
          <!-- /FORM INPUT -->
        </div>
        <!-- /FORM ITEM -->

        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- FORM INPUT -->
          <div class="form-input small active">
            <label>Người bị tố cáo: </label>
            <input type="text" class="form-control" formControlName="accountTarget" readonly>
          </div>
          <!-- /FORM INPUT -->
        </div>
        <!-- /FORM ITEM -->
      </div>
      <!-- /FORM ROW -->
      <div style="margin-top: 15px" class="alert alert-secondary" role="alert">
        <i class="fas fa-exclamation-triangle"></i> Hãy liên hệ với cơ quan hành pháp tại khu vực bạn nếu ai
        đó đang gặp nguy hiểm.
      </div>
      <!-- FORM ROW -->
      <!-- /FORM ROW -->
      <div class="poll-box-actions" style="margin-left: 58%;margin-top:10px">
        <!-- BUTTON -->
        <p class="button secondary small popup-manage-group-trigger" (click)="report()">Gửi</p>
        <!-- /BUTTON -->
        <!-- BUTTON -->
        <p class="button white small popup-manage-group-trigger">Đóng</p>
        <!-- /BUTTON -->
      </div>
    </form>
  </div>

</div>
<div>
  <div class="content-grid"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       [fromRoot]="true"
       (scrolled)="onScroll()"
  >
    <!-- PROFILE HEADER -->
    <div class="profile-header">
      <!-- PROFILE HEADER COVER -->
      <figure class="profile-header-cover liquid">
        <img src="assets/img/cover/01.jpg" alt="cover-01">
      </figure>
      <div class="profile-header-info">
        <!-- USER SHORT DESCRIPTION -->
        <div class="user-short-description big">
          <!-- USER SHORT DESCRIPTION AVATAR -->
          <a class="user-short-description-avatar user-avatar big"
             [routerLink]="['/account-wall/', iAccount.id ,'wall']">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">

              <div class="hexagon-148-164"></div>

            </div>
            <!-- /USER AVATAR BORDER -->
            <div class="user-avatar-content">

              <div class="hexagon-image-100-110" [attr.data-src]="iAccount.avatar"></div>

            </div>

            <div class="user-avatar-progress">

              <div class="hexagon-progress-124-136"></div>

            </div>

            <div class="user-avatar-progress-border">

              <div class="hexagon-border-124-136"></div>

            </div>
          </a>
          <a class="user-short-description-avatar user-short-description-avatar-mobile user-avatar medium"
             [routerLink]="['/account-wall/', iAccount.id ,'wall']">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">

              <div class="hexagon-120-132"></div>

            </div>
            <!-- /USER AVATAR BORDER -->
            <div class="user-avatar-content">

              <div class="hexagon-image-82-90" data-src=""></div>

            </div>

            <div class="user-avatar-progress">

              <div class="hexagon-progress-100-110"></div>

            </div>

            <div class="user-avatar-progress-border">

              <div class="hexagon-border-100-110"></div>

            </div>
          </a>
          <p class="user-short-description-title"><a
            [routerLink]="['/account-wall/', iAccount.id ,'wall']">{{iAccount.fullName}}</a></p>
        </div>
        <div *ngIf="iAccount.id == account.id; else checkUser">
        </div>
        <ng-template #checkUser>
          <div class="profile-header-social-links-wrap">
            <div class="section-menu">
              <a class="section-menu-item full popup-manage-group-trigger" (click)="patchValue(iAccount.userName)">
                <img src="assets/img/Warning.svg" style="width: 20%">
                <p class="section-menu-item-text">Báo cáo vi phạm</p></a>
            </div>
          </div>
        </ng-template>
        <div class="user-stats">
          <div class="user-stat big"><p class="user-stat-title">{{iPosts.length}}</p>
            <p class="user-stat-text">Bài đăng</p></div>
          <div class="user-stat big">
            <img class="user-stat-image" src="assets/img/flag/vietnamese.png" alt="flag-usa">
            <p class="user-stat-text">{{iAccount.country.name}}</p></div>
        </div>
        <div *ngIf="iAccount.id == account.id; else checkPersonalPage">
        </div>
        <ng-template #checkPersonalPage>
          <div class="profile-header-info-actions">
            <div *ngFor="let friends of iFriends">
              <div *ngIf="iAccount.id != friends.friend.id || friends.friend == null">
                <button class="profile-header-info-action button secondary">Kết bạn +</button>
              </div>
              <ng-template #notFriend>
                <div *ngIf="iAccount.id == friends.friend.id && friends.state.id == 1 ; else notLogged">
                  <button class="profile-header-info-action button secondary">Bạn bè</button>
                </div>
                <ng-template #notLogged>
                  <div *ngIf="iAccount.id == friends.friend.id && friends.state.id == 2 ; else notBlock">
                    <button class="profile-header-info-action button secondary">Xác thực kết bạn +</button>
                  </div>
                  <ng-template #notBlock>
                    <div *ngIf="iAccount.id == friends.friend.id && friends.state.id == 3">
                      <button class="profile-header-info-action button secondary">Hủy kết bạn -</button>
                    </div>
                  </ng-template>
                </ng-template>
              </ng-template>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <nav class="section-navigation">
      <div id="section-navigation-slider" class="section-menu">
        <a class="section-menu-item active" [routerLink]="['/account-wall/', iAccount.id ,'wall']">
          <svg class="section-menu-item-icon icon-timeline">
            <use xlink:href="#svg-timeline"></use>
          </svg>
          <p class="section-menu-item-text">Dòng thời gian</p></a>
        <a class="section-menu-item" [routerLink]="['/profile/'+ iAccount.id +'/friend-list']">
          <svg class="section-menu-item-icon icon-friend">
            <use xlink:href="#svg-friend"></use>
          </svg>
          <p class="section-menu-item-text">Danh sách bạn</p></a>
        <a class="section-menu-item" href="profile-groups.html">
          <svg class="section-menu-item-icon icon-group">
            <use xlink:href="#svg-group"></use>
          </svg>
          <p class="section-menu-item-text">Nhóm</p></a>
        <a class="section-menu-item" href="profile-photos.html">
          <svg class="section-menu-item-icon icon-photos">
            <use xlink:href="#svg-photos"></use>
          </svg>
          <p class="section-menu-item-text">Hình Ảnh</p></a>
        <!-- /SECTION MENU ITEM -->
      </div>
      <!-- /SECTION MENU --><!-- SLIDER CONTROLS -->
      <div id="section-navigation-slider-controls" class="slider-controls">
        <!-- SLIDER CONTROL -->
        <div class="slider-control left">
          <!-- SLIDER CONTROL ICON -->
          <svg class="slider-control-icon icon-small-arrow">
            <use xlink:href="#svg-small-arrow"></use>
          </svg>
          <!-- /SLIDER CONTROL ICON -->
        </div>
        <!-- /SLIDER CONTROL --><!-- SLIDER CONTROL -->
        <div class="slider-control right">
          <!-- SLIDER CONTROL ICON -->
          <svg class="slider-control-icon icon-small-arrow">
            <use xlink:href="#svg-small-arrow"></use>
          </svg>
          <!-- /SLIDER CONTROL ICON -->
        </div>
        <!-- /SLIDER CONTROL -->
      </div>
      <!-- /SLIDER CONTROLS -->
    </nav>
    <!-- /SECTION NAVIGATION --><!-- GRID -->
    <div class="grid grid-3-6-3 mobile-prefer-content">
      <!-- GRID COLUMN -->
      <div class="grid-column">

        <!-- WIDGET BOX -->
        <div class="widget-box">
          <p class="widget-box-title" style="text-align: center">Thông tin của</p>
          <br>
          <p class="widget-box-title">{{iAccount.fullName}}</p>
          <!-- /WIDGET BOX TITLE --><!-- WIDGET BOX CONTENT -->
          <div class="widget-box-content">
            <!-- PARAGRAPH -->
            <p class="paragraph">{{iAccount.accountDescribe}}</p>
            <!-- /PARAGRAPH --><!-- INFORMATION LINE LIST -->
            <div class="information-line-list">
              <!-- INFORMATION LINE -->
              <div class="information-line">
                <!-- INFORMATION LINE TITLE -->
                <p class="information-line-title">Tham gia</p>
                <!-- /INFORMATION LINE TITLE --><!-- INFORMATION LINE TEXT -->
                <p class="information-line-text">{{iAccount.dateRegister | date: 'dd/MM/yyyy'}}</p>
                <!-- /INFORMATION LINE TEXT -->
              </div>
              <!-- /INFORMATION LINE --><!-- INFORMATION LINE -->
              <div class="information-line">
                <!-- INFORMATION LINE TITLE -->
                <p class="information-line-title">Thành Phố</p>
                <!-- /INFORMATION LINE TITLE --><!-- INFORMATION LINE TEXT -->
                <p class="information-line-text">{{iAccount.city.name}}</p>
                <!-- /INFORMATION LINE TEXT -->
              </div>
              <!-- /INFORMATION LINE --><!-- INFORMATION LINE -->
              <div class="information-line">
                <!-- INFORMATION LINE TITLE -->
                <p class="information-line-title">Quốc tịch</p>
                <!-- /INFORMATION LINE TITLE --><!-- INFORMATION LINE TEXT -->
                <p class="information-line-text">{{iAccount.country.name}}</p>
                <!-- /INFORMATION LINE TEXT -->
              </div>
              <!-- /INFORMATION LINE --><!-- INFORMATION LINE -->
              <div class="information-line">
                <!-- INFORMATION LINE TITLE -->
                <p class="information-line-title">Tuổi</p>
                <!-- /INFORMATION LINE TITLE --><!-- INFORMATION LINE TEXT -->
                <p class="information-line-text">{{getAge(iAccount.dateOfBirth |date: 'dd/MM/yyyy')}} tuổi</p>
                <!-- /INFORMATION LINE TEXT -->
              </div>
            </div>
          </div>
        </div>

        <div class="widget-box">
          <app-friend-list [idAccountFriend]="iAccount.id"></app-friend-list>
        </div>
        <!-- /WIDGET BOX -->
      </div>
      <div class="grid-column">
        <!-- WIDGET BOX -->
        <div *ngIf="iAccount.id == account.id">
          <app-create-post></app-create-post>
        </div>
        <div>
          <div *ngIf="iPosts.length !=0 ; else checkPost">
            <div class="widget-box no-padding" *ngFor=" let posts of iPosts">
              <div class="widget-box-status">
                <div class="widget-box-status-content">
                  <div class="user-status">
                    <a class="user-status-avatar" [routerLink]="['/account-wall/', iAccount.id ,'wall']">
                      <div class="user-avatar small no-outline">
                        <div class="user-avatar-content">
                          <div class="hexagon-image-30-32" [attr.data-src]="iAccount.avatar"></div>
                        </div>
                        <div class="user-avatar-progress">
                          <div class="hexagon-progress-40-44"></div>
                        </div>
                        <div class="user-avatar-progress-border">
                          <div class="hexagon-border-40-44"></div>
                        </div>
                      </div>
                    </a>
                    <p class="user-status-title medium">
                      <a class="bold"
                         [routerLink]="['/account-wall/', iAccount.id ,'wall']">{{posts.account.fullName}}</a>
                    </p>
                    <p class="user-status-text small">{{posts.postTime |date:'dd/MM/yyyy - HH:mm:ss'}}</p>
                  </div>
                  <p class="widget-box-status-text">{{posts.content}}</p>
                  <div *ngIf="posts.image !== null">
                    <figure class="widget-box-picture popup-picture-trigger">
                      <img src="{{posts.image}}" alt="cover-04">
                    </figure>
                  </div>
                  <div class="content-actions">
                    <div class="content-action">
                      <div class="meta-line"></div>
                      <div class="meta-line">

                        <div class="meta-line-list reaction-item-list">

                          <div class="reaction-item">

                            <img class="reaction-image reaction-item-dropdown-trigger"
                                 src="assets/img/reaction/like.png" alt="reaction-like">
                          </div>

                        </div>

                        <p class="meta-line-text">{{posts.likeCount}} like</p>

                      </div>
                    </div>
                    <div class="content-action">
                      <div class="meta-line">
                        <p class="meta-line-link">8 Bình luận</p>
                      </div>
                      <div class="meta-line"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="post-options">
                <!-- POST OPTION WRAP -->
                <div class="post-option-wrap">
                  <!-- POST OPTION -->
                  <div class="post-option reaction-options-dropdown-trigger">
                    <svg class="post-option-icon icon-thumbs-up">
                      <use xlink:href="#svg-thumbs-up"></use>
                    </svg>
                    <p class="post-option-text">Thích!</p>
                  </div>
                </div>

                <div class="post-option">
                  <svg class="post-option-icon icon-comment">
                    <use xlink:href="#svg-comment"></use>
                  </svg>
                  <p class="post-option-text" (click)="flagCommentShow()">Bình luận</p>
                </div>
              </div>
              <div>
                <div class="post-comment-list">
                  <app-comment-list
                    [idPost]="posts.id"
                    (onDeleteComment)="getIdCommentDelete($event)">
                  </app-comment-list>
                  <div class="post-comment-form">
                    <div>
                      <div class="user-avatar small no-outline">
                        <div class="user-avatar-content">
                          <div class="hexagon-image-30-32" [attr.data-src]="account.avatar"></div>
                        </div>
                        <div class="user-avatar-progress">
                          <div class="hexagon-progress-40-44"></div>
                        </div>
                        <div class="user-avatar-progress-border">
                          <div class="hexagon-border-40-44"></div>
                        </div>
                      </div>
                      <form class="form" [formGroup]="formGroup" (ngSubmit)="submitFormCreate()">
                        <div class="form-row split">
                          <div class="form-item">
                            <div class="form-input small">
                              <input type="hidden" formControlName="postId" class="form-control">
                              <input type="text" class="form-control" (click)="getIdPost(posts.id)"
                                     formControlName="content"
                                     placeholder="Viết bình luận" required>
                            </div>
                          </div>
                          <div class="form-item auto-width">
                            <button type="submit" class="button primary padded" [disabled]="formGroup.invalid">
                              <svg class="button-icon no-space icon-send-message">
                                <use xlink:href="#svg-send-message"></use>
                              </svg>
                            </button>
                          </div>
                          <div class="form-item auto-width">
                            <button class="button info padded" type="reset">
                              <svg class="interactive-input-action-icon icon-cross-thin">
                                <use xlink:href="#svg-cross-thin"></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #checkPost>
            <div class="widget-box no-padding">
              <div class="widget-box-status">
                <div class="widget-box-status-content">
                  <p class="widget-box-status-text">Không có bài đăng nào.</p>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <div *ngIf="loadingData ; else checkLoading">
          <div class="page-loader-indicator loader-bars">
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
            <div class="loader-bar"></div>
          </div>
        </div>
        <ng-template #checkLoading>
          <p class="post-comment-heading">Bạn đã đến cuối trang</p>
        </ng-template>
      </div>
      <div class="grid-column">
        <div class="widget-box">

          <div class="widget-box-settings">
          </div>
          <p class="widget-box-title">Thông tin chi tiết</p>
          <!-- /WIDGET BOX TITLE -->

          <!-- WIDGET BOX CONTENT -->
          <div class="widget-box-content">
            <!-- INFORMATION LINE LIST -->
            <div class="information-line-list">
              <!-- INFORMATION LINE -->
              <div class="information-line">
                <!-- INFORMATION LINE TITLE -->
                <p class="information-line-title">Email</p>
                <!-- /INFORMATION LINE TITLE -->

                <!-- INFORMATION LINE TEXT -->
                <p class="information-line-text">{{iAccount.userName}}</p>
                <!-- /INFORMATION LINE TEXT -->
              </div>
              <!-- /INFORMATION LINE -->

              <!-- INFORMATION LINE -->
              <div class="information-line">
                <!-- INFORMATION LINE TITLE -->
                <p class="information-line-title">Ngày sinh</p>
                <!-- /INFORMATION LINE TITLE -->

                <!-- INFORMATION LINE TEXT -->
                <p class="information-line-text">{{iAccount.dateOfBirth |date: 'dd/MM/yyyy'}}</p>
                <!-- /INFORMATION LINE TEXT -->
              </div>
              <!-- /INFORMATION LINE -->

              <!-- INFORMATION LINE -->
              <div class="information-line">
                <!-- INFORMATION LINE TITLE -->
                <p class="information-line-title">Nghề nghiệp</p>
                <!-- /INFORMATION LINE TITLE -->

                <!-- INFORMATION LINE TEXT -->
                <p class="information-line-text">{{iAccount.job.name}}</p>
                <!-- /INFORMATION LINE TEXT -->
              </div>
              <!-- /INFORMATION LINE -->

              <!-- INFORMATION LINE -->
              <div class="information-line">
                <!-- INFORMATION LINE TITLE -->
                <p class="information-line-title">Mối quan hệ</p>
                <!-- /INFORMATION LINE TITLE -->

                <!-- INFORMATION LINE TEXT -->
                <p class="information-line-text">{{iAccount.maritalStatus.name}}</p>
                <!-- /INFORMATION LINE TEXT -->
              </div>
              <div class="information-line">
                <!-- INFORMATION LINE TITLE -->
                <p class="information-line-title">Giới tính</p>
                <div *ngIf="iAccount.gender; else noGender">
                  <p class="information-line-text">Nam</p>
                </div>
                <ng-template #noGender><p class="information-line-text">Nữ</p></ng-template>
              </div>
            </div>
            <!-- /INFORMATION LINE LIST -->
          </div>
          <!-- /WIDGET BOX CONTENT -->
        </div>
        <div class="widget-box">
          <app-group-list [idAccountGroup]="iAccount.id"></app-group-list>
          <!-- WIDGET BOX CONTENT -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLongTitle">Xóa bình luận</h5>
      </div>
      <div class="modal-body" style="text-align: center">
        - Bạn có chắc chắn phải xóa bình luận này không.
        - Không thể hoàn tác công việc này
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="getDeleteCommentById(idComment)">Đồng
          ý
        </button>
      </div>
    </div>
  </div>
</div>



