<!-- HEADER -->
<header class="header">
  <!-- HEADER ACTIONS -->
  <div class="header-actions">
    <!-- HEADER BRAND -->
    <div class="header-brand">
      <!-- LOGO -->
      <div class="logo">
        <!-- ICON LOGO VIKINGER -->
        <svg class="icon-logo-vikinger small">
          <use xlink:href="#svg-logo-vikinger"></use>
        </svg>
        <!-- /ICON LOGO VIKINGER -->
      </div>
      <!-- /LOGO -->

      <!-- HEADER BRAND TEXT -->
      <h1 class="header-brand-text">Vikinger</h1>
      <!-- /HEADER BRAND TEXT -->
    </div>
    <!-- /HEADER BRAND -->
  </div>
  <!-- /HEADER ACTIONS -->

  <!-- HEADER ACTIONS -->
  <div class="header-actions">
    <!-- SIDEMENU TRIGGER -->
    <div class="sidemenu-trigger navigation-widget-trigger">
      <!-- ICON GRID -->
      <svg class="icon-grid">
        <use xlink:href="#svg-grid"></use>
      </svg>

    </div>

    <div class="mobilemenu-trigger navigation-widget-mobile-trigger">
      <div class="burger-icon inverted">
        <div class="burger-icon-bar"></div>
        <div class="burger-icon-bar"></div>
        <div class="burger-icon-bar"></div>
      </div>
    </div>
    <nav class="navigation">
      <ul class="menu-main">
        <li class="menu-main-item">
          <a class="menu-main-item-link" href="#">Trang Chủ</a>
        </li>
        <!--                <li class="menu-main-item">-->
        <!--                    <a class="menu-main-item-link" href="#">Careers</a>-->
        <!--                </li>-->
        <!--                <li class="menu-main-item">-->
        <!--                    <a class="menu-main-item-link" href="#">Faqs</a>-->
        <!--                </li>-->
        <!--                <li class="menu-main-item">-->
        <!--                    <p class="menu-main-item-link">-->
        <!--                        <svg class="icon-dots">-->
        <!--                            <use xlink:href="#svg-dots"></use>-->
        <!--                        </svg>-->
        <!--                    </p>-->
        <!--                    <ul class="menu-main">-->
        <!--                        <li class="menu-main-item">-->
        <!--                            <a class="menu-main-item-link" href="#">About Us</a>-->
        <!--                        </li>-->
        <!--                        <li class="menu-main-item">-->
        <!--                            <a class="menu-main-item-link" href="#">Our Blog</a>-->
        <!--                        </li>-->
        <!--                        <li class="menu-main-item">-->
        <!--                            <a class="menu-main-item-link" href="#">Contact Us</a>-->
        <!--                        </li>-->
        <!--                        <li class="menu-main-item">-->
        <!--                            <a class="menu-main-item-link" href="#">Privacy Policy</a>-->
        <!--                        </li>-->
        <!--                    </ul>-->
        <!--                </li>-->
      </ul>
    </nav>
  </div>
  <div class="header-actions search-bar">
    <div class="interactive-input dark">
      <input type="text" id="search-main" name="search_main" placeholder="Tìm kiếm người hoặc nhóm ">
      <div class="interactive-input-icon-wrap">
        <svg class="interactive-input-icon icon-magnifying-glass">
          <use xlink:href="#svg-magnifying-glass"></use>
        </svg>
      </div>
      <div class="interactive-input-action">
        <svg class="interactive-input-action-icon icon-cross-thin">
          <use xlink:href="#svg-cross-thin"></use>
        </svg>
      </div>
    </div>
    <div class="dropdown-box padding-bottom-small header-search-dropdown">
      <div class="dropdown-box-category">
        <p class="dropdown-box-category-title">Members</p>
      </div>
      <div class="dropdown-box-list small no-scroll">
        <!-- DROPDOWN BOX LIST ITEM -->
        <a class="dropdown-box-list-item" href="profile-timeline.html">
          <!-- USER STATUS -->
          <div class="user-status notification">
            <!-- USER STATUS AVATAR -->
            <div class="user-status-avatar">
              <!-- USER AVATAR -->
              <div class="user-avatar small no-outline">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-30-32" data-src="assets/img/avatar/05.jpg"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->

                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                  <!-- HEXAGON -->
                  <div class="hexagon-progress-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->

                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-border-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->

              </div>
              <!-- /USER AVATAR -->
            </div>
            <!-- /USER STATUS AVATAR -->

            <!-- USER STATUS TITLE -->
            <p class="user-status-title"><span class="bold">Neko Bebop</span></p>
            <!-- /USER STATUS TITLE -->

            <!-- USER STATUS TEXT -->
            <p class="user-status-text">1 friends in common</p>
            <!-- /USER STATUS TEXT -->

            <!-- USER STATUS ICON -->
            <div class="user-status-icon">
              <!-- ICON FRIEND -->
              <svg class="icon-friend">
                <use xlink:href="#svg-friend"></use>
              </svg>
              <!-- /ICON FRIEND -->
            </div>
            <!-- /USER STATUS ICON -->
          </div>
          <!-- /USER STATUS -->
        </a>
        <!-- /DROPDOWN BOX LIST ITEM -->

        <!-- DROPDOWN BOX LIST ITEM -->
        <a class="dropdown-box-list-item" href="profile-timeline.html">
          <!-- USER STATUS -->
          <div class="user-status notification">
            <!-- USER STATUS AVATAR -->
            <div class="user-status-avatar">
              <!-- USER AVATAR -->
              <div class="user-avatar small no-outline">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-30-32" data-src="assets/img/avatar/15.jpg"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->

                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                  <!-- HEXAGON -->
                  <div class="hexagon-progress-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->

                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-border-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->

              </div>
              <!-- /USER AVATAR -->
            </div>
            <!-- /USER STATUS AVATAR -->

            <!-- USER STATUS TITLE -->
            <p class="user-status-title"><span class="bold">Tim Rogers</span></p>
            <!-- /USER STATUS TITLE -->

            <!-- USER STATUS TEXT -->
            <p class="user-status-text">4 friends in common</p>
            <!-- /USER STATUS TEXT -->

            <!-- USER STATUS ICON -->
            <div class="user-status-icon">
              <!-- ICON FRIEND -->
              <svg class="icon-friend">
                <use xlink:href="#svg-friend"></use>
              </svg>
              <!-- /ICON FRIEND -->
            </div>
            <!-- /USER STATUS ICON -->
          </div>
          <!-- /USER STATUS -->
        </a>
        <!-- /DROPDOWN BOX LIST ITEM -->
      </div>
      <!-- /DROPDOWN BOX LIST -->

      <!-- DROPDOWN BOX CATEGORY -->
      <div class="dropdown-box-category">
        <!-- DROPDOWN BOX CATEGORY TITLE -->
        <p class="dropdown-box-category-title">Groups</p>
        <!-- /DROPDOWN BOX CATEGORY TITLE -->
      </div>
      <!-- /DROPDOWN BOX CATEGORY -->

      <!-- DROPDOWN BOX LIST -->
      <div class="dropdown-box-list small no-scroll">
        <!-- DROPDOWN BOX LIST ITEM -->
        <a class="dropdown-box-list-item" href="group-timeline.html">
          <!-- USER STATUS -->
          <div class="user-status notification">
            <!-- USER STATUS AVATAR -->
            <div class="user-status-avatar">
              <!-- USER AVATAR -->
              <div class="user-avatar small no-border">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-40-44" data-src="assets/img/avatar/24.jpg"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
              </div>
              <!-- /USER AVATAR -->
            </div>
            <!-- /USER STATUS AVATAR -->

            <!-- USER STATUS TITLE -->
            <p class="user-status-title"><span class="bold">Cosplayers of the World</span></p>
            <!-- /USER STATUS TITLE -->

            <!-- USER STATUS TEXT -->
            <p class="user-status-text">139 members</p>
            <!-- /USER STATUS TEXT -->

            <!-- USER STATUS ICON -->
            <div class="user-status-icon">
              <!-- ICON GROUP -->
              <svg class="icon-group">
                <use xlink:href="#svg-group"></use>
              </svg>
              <!-- /ICON GROUP -->
            </div>
            <!-- /USER STATUS ICON -->
          </div>
          <!-- /USER STATUS -->
        </a>
        <!-- /DROPDOWN BOX LIST ITEM -->
      </div>
      <!-- /DROPDOWN BOX LIST -->

      <!-- DROPDOWN BOX CATEGORY -->
      <div class="dropdown-box-category">
        <!-- DROPDOWN BOX CATEGORY TITLE -->
        <p class="dropdown-box-category-title">Marketplace</p>
        <!-- /DROPDOWN BOX CATEGORY TITLE -->
      </div>
      <!-- /DROPDOWN BOX CATEGORY -->

      <!-- DROPDOWN BOX LIST -->
      <div class="dropdown-box-list small no-scroll">
        <!-- DROPDOWN BOX LIST ITEM -->
        <a class="dropdown-box-list-item" href="marketplace-product.html">
          <!-- USER STATUS -->
          <div class="user-status no-padding-top">
            <!-- USER STATUS AVATAR -->
            <div class="user-status-avatar">
              <!-- PICTURE -->
              <figure class="picture small round liquid">
                <img src="assets/img/marketplace/items/07.jpg" alt="item-07">
              </figure>
              <!-- /PICTURE -->
            </div>
            <!-- /USER STATUS AVATAR -->

            <!-- USER STATUS TITLE -->
            <p class="user-status-title"><span class="bold">Mercenaries White Frame</span></p>
            <!-- /USER STATUS TITLE -->

            <!-- USER STATUS TEXT -->
            <p class="user-status-text">By Neko Bebop</p>
            <!-- /USER STATUS TEXT -->

            <!-- USER STATUS ICON -->
            <div class="user-status-icon">
              <!-- ICON MARKETPLACE -->
              <svg class="icon-marketplace">
                <use xlink:href="#svg-marketplace"></use>
              </svg>
              <!-- /ICON MARKETPLACE -->
            </div>
            <!-- /USER STATUS ICON -->
          </div>
          <!-- /USER STATUS -->
        </a>
        <!-- /DROPDOWN BOX LIST ITEM -->
      </div>
      <!-- /DROPDOWN BOX LIST -->
    </div>
    <!-- /DROPDOWN BOX -->
  </div>
  <!-- /HEADER ACTIONS -->

  <!-- HEADER ACTIONS -->
  <div class="header-actions">
    <!-- ACTION LIST -->
    <div class="action-list dark">
      <!-- ACTION LIST ITEM WRAP -->
      <div class="action-list-item-wrap">
        <!-- ACTION LIST ITEM -->
        <div class="action-list-item header-dropdown-trigger">
          <!-- ACTION LIST ITEM ICON -->
          <svg class="action-list-item-icon icon-friend">
            <use xlink:href="#svg-friend"></use>
          </svg>
          <!-- /ACTION LIST ITEM ICON -->
        </div>
        <!-- /ACTION LIST ITEM -->

        <!-- DROPDOWN BOX -->
        <div class="dropdown-box header-dropdown">
          <!-- DROPDOWN BOX HEADER -->
          <div class="dropdown-box-header">
            <!-- DROPDOWN BOX HEADER TITLE -->
            <p class="dropdown-box-header-title">Lời mời kết bạn</p>
            <!-- /DROPDOWN BOX HEADER TITLE -->
          </div>
          <!-- /DROPDOWN BOX HEADER -->

          <!-- DROPDOWN BOX LIST -->
          <div class="dropdown-box-list no-hover" data-simplebar>
            <!-- DROPDOWN BOX LIST ITEM -->
            <div class="dropdown-box-list-item">
              <!-- USER STATUS -->
              <div class="user-status request">
                <!-- USER STATUS AVATAR -->
                <a class="user-status-avatar" href="profile-timeline.html">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/16.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->
                  </div>
                  <!-- /USER AVATAR -->
                </a>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><a class="bold" href="profile-timeline.html">Công chúa bong bóng</a></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TEXT -->
                <p class="user-status-text">6 bạn chung</p>
                <!-- /USER STATUS TEXT -->

                <!-- ACTION REQUEST LIST -->
                <div class="action-request-list">
                  <!-- ACTION REQUEST -->
                  <div class="action-request accept">
                    <!-- ACTION REQUEST ICON -->
                    <svg class="action-request-icon icon-add-friend">
                      <use xlink:href="#svg-add-friend"></use>
                    </svg>
                    <!-- /ACTION REQUEST ICON -->
                  </div>
                  <!-- /ACTION REQUEST -->

                  <!-- ACTION REQUEST -->
                  <div class="action-request decline">
                    <!-- ACTION REQUEST ICON -->
                    <svg class="action-request-icon icon-remove-friend">
                      <use xlink:href="#svg-remove-friend"></use>
                    </svg>
                    <!-- /ACTION REQUEST ICON -->
                  </div>
                  <!-- /ACTION REQUEST -->
                </div>
                <!-- ACTION REQUEST LIST -->
              </div>
              <!-- /USER STATUS -->
            </div>
            <!-- /DROPDOWN BOX LIST ITEM -->

            <!-- DROPDOWN BOX LIST ITEM -->
            <div class="dropdown-box-list-item">
              <!-- USER STATUS -->
              <div class="user-status request">
                <!-- USER STATUS AVATAR -->
                <a class="user-status-avatar" href="profile-timeline.html">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/14.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </a>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><a class="bold" href="profile-timeline.html">Nguyễn Hoàng Tứ</a>
                </p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TEXT -->
                <p class="user-status-text">1 bạn chung</p>
                <!-- /USER STATUS TEXT -->

                <!-- ACTION REQUEST LIST -->
                <div class="action-request-list">
                  <!-- ACTION REQUEST -->
                  <div class="action-request accept">
                    <!-- ACTION REQUEST ICON -->
                    <svg class="action-request-icon icon-add-friend">
                      <use xlink:href="#svg-add-friend"></use>
                    </svg>
                    <!-- /ACTION REQUEST ICON -->
                  </div>
                  <!-- /ACTION REQUEST -->

                  <!-- ACTION REQUEST -->
                  <div class="action-request decline">
                    <!-- ACTION REQUEST ICON -->
                    <svg class="action-request-icon icon-remove-friend">
                      <use xlink:href="#svg-remove-friend"></use>
                    </svg>
                    <!-- /ACTION REQUEST ICON -->
                  </div>
                  <!-- /ACTION REQUEST -->
                </div>
                <!-- ACTION REQUEST LIST -->
              </div>
              <!-- /USER STATUS -->
            </div>
            <!-- /DROPDOWN BOX LIST ITEM -->

            <!-- DROPDOWN BOX LIST ITEM -->
            <div class="dropdown-box-list-item">
              <!-- USER STATUS -->
              <div class="user-status request">
                <!-- USER STATUS AVATAR -->
                <a class="user-status-avatar" href="profile-timeline.html">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/11.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </a>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><a class="bold" href="profile-timeline.html">Sơn Tùng</a>
                </p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TEXT -->
                <p class="user-status-text">4 bạn chung</p>
                <!-- /USER STATUS TEXT -->

                <!-- ACTION REQUEST LIST -->
                <div class="action-request-list">
                  <!-- ACTION REQUEST -->
                  <div class="action-request accept">
                    <!-- ACTION REQUEST ICON -->
                    <svg class="action-request-icon icon-add-friend">
                      <use xlink:href="#svg-add-friend"></use>
                    </svg>
                    <!-- /ACTION REQUEST ICON -->
                  </div>
                  <!-- /ACTION REQUEST -->

                  <!-- ACTION REQUEST -->
                  <div class="action-request decline">
                    <!-- ACTION REQUEST ICON -->
                    <svg class="action-request-icon icon-remove-friend">
                      <use xlink:href="#svg-remove-friend"></use>
                    </svg>
                    <!-- /ACTION REQUEST ICON -->
                  </div>
                  <!-- /ACTION REQUEST -->
                </div>
                <!-- ACTION REQUEST LIST -->
              </div>
              <!-- /USER STATUS -->
            </div>
            <!-- /DROPDOWN BOX LIST ITEM -->
          </div>
          <!-- /DROPDOWN BOX LIST -->

          <!-- DROPDOWN BOX BUTTON -->
          <a class="dropdown-box-button secondary" href="hub-profile-requests.html">Xem Tất cả</a>
          <!-- /DROPDOWN BOX BUTTON -->
        </div>
        <!-- /DROPDOWN BOX -->
      </div>
      <!-- /ACTION LIST ITEM WRAP -->

      <!-- ACTION LIST ITEM WRAP -->
      <div class="action-list-item-wrap">
        <!-- ACTION LIST ITEM -->
        <div class="action-list-item header-dropdown-trigger">
          <!-- ACTION LIST ITEM ICON -->
          <svg class="action-list-item-icon icon-messages">
            <use xlink:href="#svg-messages"></use>
          </svg>
          <!-- /ACTION LIST ITEM ICON -->
        </div>
        <!-- /ACTION LIST ITEM -->

        <!-- DROPDOWN BOX -->
        <div class="dropdown-box header-dropdown">
          <!-- DROPDOWN BOX HEADER -->
          <div class="dropdown-box-header">
            <!-- DROPDOWN BOX HEADER TITLE -->
            <p class="dropdown-box-header-title">Tin Nhắn</p>
            <!-- /DROPDOWN BOX HEADER TITLE -->

            <!-- DROPDOWN BOX HEADER ACTIONS -->
            <div class="dropdown-box-header-actions">
              <!-- DROPDOWN BOX HEADER ACTION -->
              <p class="dropdown-box-header-action">Đánh dấu tất cả đã đọc</p>
              <!-- /DROPDOWN BOX HEADER ACTION -->

              <!-- DROPDOWN BOX HEADER ACTION -->
              <p class="dropdown-box-header-action">cài đặt</p>
              <!-- /DROPDOWN BOX HEADER ACTION -->
            </div>
            <!-- /DROPDOWN BOX HEADER ACTIONS -->
          </div>
          <!-- /DROPDOWN BOX HEADER -->

          <!-- DROPDOWN BOX LIST -->
          <div class="dropdown-box-list medium" data-simplebar>
            <!-- DROPDOWN BOX LIST ITEM -->
            <a class="dropdown-box-list-item" href="hub-profile-messages.html">
              <!-- USER STATUS -->
              <div class="user-status">
                <!-- USER STATUS AVATAR -->
                <div class="user-status-avatar">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/04.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </div>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><span class="bold">Đoan Trang</span></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TEXT -->
                <p class="user-status-text">Về quê ăn tết..</p>
                <!-- /USER STATUS TEXT -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp floaty">29 phút trước</p>
                <!-- /USER STATUS TIMESTAMP -->
              </div>
              <!-- /USER STATUS -->
            </a>
            <!-- /DROPDOWN BOX LIST ITEM -->

            <!-- DROPDOWN BOX LIST ITEM -->
            <a class="dropdown-box-list-item" href="hub-profile-messages.html">
              <!-- USER STATUS -->
              <div class="user-status">
                <!-- USER STATUS AVATAR -->
                <div class="user-status-avatar">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/05.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </div>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><span class="bold">Minh Nguyệt</span></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TEXT -->
                <p class="user-status-text"> i LOVE you!</p>
                <!-- /USER STATUS TEXT -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp floaty">54 phút trước</p>
                <!-- /USER STATUS TIMESTAMP -->
              </div>
              <!-- /USER STATUS -->
            </a>
            <!-- /DROPDOWN BOX LIST ITEM -->

            <!-- DROPDOWN BOX LIST ITEM -->
            <a class="dropdown-box-list-item" href="hub-profile-messages.html">
              <!-- USER STATUS -->
              <div class="user-status">
                <!-- USER STATUS AVATAR -->
                <div class="user-status-avatar">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/03.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </div>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><span class="bold">Tường Vi</span></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TEXT -->
                <p class="user-status-text">Chơi game hông?</p>
                <!-- /USER STATUS TEXT -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp floaty">2 giờ trước </p>
                <!-- /USER STATUS TIMESTAMP -->
              </div>
              <!-- /USER STATUS -->
            </a>
            <!-- /DROPDOWN BOX LIST ITEM -->

            <!-- DROPDOWN BOX LIST ITEM -->
            <a class="dropdown-box-list-item" href="hub-profile-messages.html">
              <!-- USER STATUS -->
              <div class="user-status">
                <!-- USER STATUS AVATAR -->
                <div class="user-status-avatar">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/07.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </div>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><span class="bold">Kim Cương</span></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TEXT -->
                <p class="user-status-text">Ăn ốc hông ...</p>
                <!-- /USER STATUS TEXT -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp floaty">16 phút trước</p>
                <!-- /USER STATUS TIMESTAMP -->
              </div>
              <!-- /USER STATUS -->
            </a>
            <!-- /DROPDOWN BOX LIST ITEM -->

            <!-- DROPDOWN BOX LIST ITEM -->
            <a class="dropdown-box-list-item" href="hub-profile-messages.html">
              <!-- USER STATUS -->
              <div class="user-status">
                <!-- USER STATUS AVATAR -->
                <div class="user-status-avatar">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/12.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </div>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><span class="bold">Thúy AN</span></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TEXT -->
                <p class="user-status-text">Về quê chưa a ?</p>
                <!-- /USER STATUS TEXT -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp floaty">7 ngày trước</p>
                <!-- /USER STATUS TIMESTAMP -->
              </div>
              <!-- /USER STATUS -->
            </a>
            <!-- /DROPDOWN BOX LIST ITEM -->

            <!-- DROPDOWN BOX LIST ITEM -->
            <a class="dropdown-box-list-item" href="hub-profile-messages.html">
              <!-- USER STATUS -->
              <div class="user-status">
                <!-- USER STATUS AVATAR -->
                <div class="user-status-avatar">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/10.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </div>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><span class="bold">Hiền Thương</span></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TEXT -->
                <p class="user-status-text">đi chơi không ?</p>
                <!-- /USER STATUS TEXT -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp floaty">10 ngày trước</p>
                <!-- /USER STATUS TIMESTAMP -->
              </div>
              <!-- /USER STATUS -->
            </a>
            <!-- /DROPDOWN BOX LIST ITEM -->
          </div>
          <!-- /DROPDOWN BOX LIST -->

          <!-- DROPDOWN BOX BUTTON -->
          <a class="dropdown-box-button primary" href="quan-ly-hop-thu.html">Xem Tất Cả </a>
          <!-- /DROPDOWN BOX BUTTON -->
        </div>
        <!-- /DROPDOWN BOX -->
      </div>
      <!-- /ACTION LIST ITEM WRAP -->

      <!-- ACTION LIST ITEM WRAP -->
      <div class="action-list-item-wrap">
        <!-- ACTION LIST ITEM -->
        <div class="action-list-item unread header-dropdown-trigger">
          <!-- ACTION LIST ITEM ICON -->
          <svg class="action-list-item-icon icon-notification">
            <use xlink:href="#svg-notification"></use>
          </svg>
          <!-- /ACTION LIST ITEM ICON -->
        </div>
        <!-- /ACTION LIST ITEM -->

        <!-- DROPDOWN BOX -->
        <div class="dropdown-box header-dropdown">
          <!-- DROPDOWN BOX HEADER -->
          <div class="dropdown-box-header">
            <!-- DROPDOWN BOX HEADER TITLE -->
            <p class="dropdown-box-header-title">Thông báo</p>
            <!-- /DROPDOWN BOX HEADER TITLE -->

            <!-- DROPDOWN BOX HEADER ACTIONS -->
            <div class="dropdown-box-header-actions">
              <!-- DROPDOWN BOX HEADER ACTION -->
              <p class="dropdown-box-header-action">Ðánh dấu tất cả đã đọc</p>
              <!-- /DROPDOWN BOX HEADER ACTION -->

            </div>
            <!-- /DROPDOWN BOX HEADER ACTIONS -->
          </div>
          <!-- /DROPDOWN BOX HEADER -->

          <!-- DROPDOWN BOX LIST -->
          <div class="dropdown-box-list" data-simplebar>
            <!-- DROPDOWN BOX LIST ITEM -->
            <div class="dropdown-box-list-item unread">
              <!-- USER STATUS -->
              <div class="user-status notification">
                <!-- USER STATUS AVATAR -->
                <a class="user-status-avatar" href="profile-timeline.html">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/03.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </a>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><a class="bold" href="profile-timeline.html">Hoàng Nhan</a> đã đăng một bài viết mới <a class="highlighted" href="profile-timeline.html">Cập nhật trạng thái?</a></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp">2 phút trước</p>
                <!-- /USER STATUS TIMESTAMP -->

                <!-- USER STATUS ICON -->
                <div class="user-status-icon">
                  <!-- ICON COMMENT -->
                  <svg class="icon-comment">
                    <use xlink:href="#svg-comment"></use>
                  </svg>
                  <!-- /ICON COMMENT -->
                </div>
                <!-- /USER STATUS ICON -->
              </div>
              <!-- /USER STATUS -->
            </div>
            <!-- /DROPDOWN BOX LIST ITEM -->

            <!-- DROPDOWN BOX LIST ITEM -->
            <div class="dropdown-box-list-item">
              <!-- USER STATUS -->
              <div class="user-status notification">
                <!-- USER STATUS AVATAR -->
                <a class="user-status-avatar" href="profile-timeline.html">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/07.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </a>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><a class="bold" href="profile-timeline.html">Minh Nhật</a> dã thích <img class="reaction" src="assets/img/reaction/like.png" alt="reaction-like"> một bình luận <a class="highlighted" href="profile-timeline.html"> cập nhật trạng thái</a></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp">17 phút tru?c </p>
                <!-- /USER STATUS TIMESTAMP -->

                <!-- USER STATUS ICON -->
                <div class="user-status-icon">
                  <!-- ICON THUMBS UP -->
                  <svg class="icon-thumbs-up">
                    <use xlink:href="#svg-thumbs-up"></use>
                  </svg>
                  <!-- /ICON THUMBS UP -->
                </div>
                <!-- /USER STATUS ICON -->
              </div>
              <!-- /USER STATUS -->
            </div>
            <!-- /DROPDOWN BOX LIST ITEM -->

            <!-- DROPDOWN BOX LIST ITEM -->
            <div class="dropdown-box-list-item">
              <!-- USER STATUS -->
              <div class="user-status notification">
                <!-- USER STATUS AVATAR -->
                <a class="user-status-avatar" href="profile-timeline.html">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/02.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </a>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><a class="bold" href="profile-timeline.html">Hoàng Tứ</a> dã bình luận một  <a class="highlighted" href="profile-photos.html">hình ảnh</a></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp">31 phút trước</p>
                <!-- /USER STATUS TIMESTAMP -->

                <!-- USER STATUS ICON -->
                <div class="user-status-icon">
                  <!-- ICON COMMENT -->
                  <svg class="icon-comment">
                    <use xlink:href="#svg-comment"></use>
                  </svg>
                  <!-- /ICON COMMENT -->
                </div>
                <!-- /USER STATUS ICON -->
              </div>
              <!-- /USER STATUS -->
            </div>
            <!-- /DROPDOWN BOX LIST ITEM -->

            <!-- DROPDOWN BOX LIST ITEM -->
            <div class="dropdown-box-list-item">
              <!-- USER STATUS -->
              <div class="user-status notification">
                <!-- USER STATUS AVATAR -->
                <a class="user-status-avatar" href="profile-timeline.html">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/10.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </a>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><a class="bold" href="profile-timeline.html">Thi Thi</a> đã yêu thích <img class="reaction" src="assets/img/reaction/love.png" alt="reaction-love"> một bình luận của bạn <a class="highlighted" href="profile-timeline.html">cập nhật trạng thái</a></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp">2 giờ truớc</p>
                <!-- /USER STATUS TIMESTAMP -->

                <!-- USER STATUS ICON -->
                <div class="user-status-icon">
                  <!-- ICON THUMBS UP -->
                  <svg class="icon-thumbs-up">
                    <use xlink:href="#svg-thumbs-up"></use>
                  </svg>
                  <!-- /ICON THUMBS UP -->
                </div>
                <!-- /USER STATUS ICON -->
              </div>
              <!-- /USER STATUS -->
            </div>
            <!-- /DROPDOWN BOX LIST ITEM -->

            <!-- DROPDOWN BOX LIST ITEM -->
            <div class="dropdown-box-list-item">
              <!-- USER STATUS -->
              <div class="user-status notification">
                <!-- USER STATUS AVATAR -->
                <a class="user-status-avatar" href="profile-timeline.html">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="assets/img/avatar/05.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->

                  </div>
                  <!-- /USER AVATAR -->
                </a>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><a class="bold" href="profile-timeline.html">Phương Trinh</a> bình luận về bạn <a class="highlighted" href="profile-timeline.html">trong một trạng thái</a></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp">3 giờ truớc</p>
                <!-- /USER STATUS TIMESTAMP -->

                <!-- USER STATUS ICON -->
                <div class="user-status-icon">
                  <!-- ICON COMMENT -->
                  <svg class="icon-comment">
                    <use xlink:href="#svg-comment"></use>
                  </svg>
                  <!-- /ICON COMMENT -->
                </div>
                <!-- /USER STATUS ICON -->
              </div>
              <!-- /USER STATUS -->
            </div>
            <!-- /DROPDOWN BOX LIST ITEM -->
          </div>
          <!-- /DROPDOWN BOX LIST -->

          <!-- DROPDOWN BOX BUTTON -->
          <a class="dropdown-box-button secondary" href="hub-profile-notifications.html">Xem tất cả thông báo</a>
          <!-- /DROPDOWN BOX BUTTON -->
        </div>
        <!-- /DROPDOWN BOX -->
      </div>
      <!-- /ACTION LIST ITEM WRAP -->
    </div>
    <!-- /ACTION LIST -->

    <!-- ACTION ITEM WRAP -->
    <div class="action-item-wrap">
      <!-- ACTION ITEM -->
      <div class="action-item dark header-settings-dropdown-trigger">
        <!-- ACTION ITEM ICON -->
        <svg class="action-item-icon icon-settings">
          <use xlink:href="#svg-settings"></use>
        </svg>
        <!-- /ACTION ITEM ICON -->
      </div>
      <!-- /ACTION ITEM -->

      <!-- DROPDOWN NAVIGATION -->
      <div class="dropdown-navigation header-settings-dropdown">
        <!-- DROPDOWN NAVIGATION HEADER -->
        <div class="dropdown-navigation-header">
          <!-- USER STATUS -->
          <div class="user-status">
            <!-- USER STATUS AVATAR -->
            <a class="user-status-avatar" href="profile-timeline.html">
              <!-- USER AVATAR -->
              <div class="user-avatar small no-outline">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-30-32" id="main-avatar4"></div>
<!--                  <img [src]="account.avatar" alt="">-->
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->

                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                  <!-- HEXAGON -->
                  <div class="hexagon-progress-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->

                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-border-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->
              </div>
              <!-- /USER AVATAR -->
            </a>
            <!-- /USER STATUS AVATAR -->

            <!-- USER STATUS TITLE -->
            <p class="user-status-title"><span class="bold">Xin chào <span class="font-weight-bold">{{account.username}}</span></span></p>
            <!-- /USER STATUS TITLE -->
          </div>
          <!-- /USER STATUS -->
        </div>
        <!-- /DROPDOWN NAVIGATION HEADER -->

        <!-- DROPDOWN NAVIGATION CATEGORY -->
        <p class="dropdown-navigation-category">Hồ sơ của tôi</p>
        <!-- /DROPDOWN NAVIGATION CATEGORY -->

        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="hub-profile-info.html">Thông tin hồ sơ</a>
        <!-- /DROPDOWN NAVIGATION LINK -->

        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="hub-profile-messages.html">Tin nhắn</a>
        <!-- /DROPDOWN NAVIGATION LINK -->

        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="hub-profile-messages.html">Tin nhắn nhóm</a>
        <!-- /DROPDOWN NAVIGATION LINK -->

        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" [routerLink]="'profile/'+ account.id+'/friend-request'">Lời mời kết bạn</a>
        <!-- /DROPDOWN NAVIGATION LINK -->

        <!-- DROPDOWN NAVIGATION CATEGORY -->
        <p class="dropdown-navigation-category">Tài khoản</p>
        <!-- /DROPDOWN NAVIGATION CATEGORY -->

        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="hub-account-info.html">Thông tin tài khoản</a>
        <!-- /DROPDOWN NAVIGATION LINK -->

        <!-- DROPDOWN NAVIGATION LINK -->
        <a class="dropdown-navigation-link" href="hub-account-password.html">Đổi mật khẩu</a>
        <!-- /DROPDOWN NAVIGATION LINK -->

        <!-- DROPDOWN NAVIGATION BUTTON -->
        <p class="dropdown-navigation-button button small secondary" (click)="logout(); emitLogin()">Đăng xuất</p>
        <!-- /DROPDOWN NAVIGATION BUTTON -->
      </div>
      <!-- /DROPDOWN NAVIGATION -->
    </div>
    <!-- /ACTION ITEM WRAP -->
  </div>
  <!-- /HEADER ACTIONS -->
</header>
<!-- /HEADER -->
