<!-- CONTENT GRID -->
<div class="content-grid" infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()">
  <!-- SECTION BANNER -->
  <div class="section-banner">
    <!-- SECTION BANNER ICON -->
    <img class="section-banner-icon" src="assets/img/banner/members-icon.png" alt="members-icon">
    <!-- /SECTION BANNER ICON -->

    <!-- SECTION BANNER TITLE -->
    <p class="section-banner-title" *ngIf="totalResult">Bạn bè ({{totalResult}})</p>
    <!-- /SECTION BANNER TITLE -->

    <!-- SECTION BANNER TEXT -->
    <p class="section-banner-text">Tìm kiếm bạn bè muôn phương!</p>
    <!-- /SECTION BANNER TEXT -->
  </div>
  <!-- /SECTION BANNER -->
  <div class="quick-post-body">
    <!-- FORM -->
    <!--          <form class="form">-->
    <!-- FORM ROW -->
    <!-- /FORM ROW -->
    <!--          </form>-->
    <!-- /FORM -->
  </div>
  <!-- SECTION FILTERS BAR -->
  <div class="container col-12 mt-3 mb-3 p-3" style="background-color: white; border-radius: 10px">
    <!-- SECTION FILTERS BAR ACTIONS -->
      <!-- FORM -->

      <!-- FORM INPUT -->
    <div class="row">
      <div class="col-4 mb-3 mt-3">
        <input class="form-control" type="text" id="friends-search" name="friends_search" placeholder="Tên" [(ngModel)]="searchData.name">
      </div>
      <div class="col-4 mb-3 mt-3">
        <input class="form-control" type="text" id="job-search" name="friends_search" placeholder="Nghề nghiệp" [(ngModel)]="searchData.job">
      </div>
      <div class="col-4 mb-3 mt-3">
        <input class="form-control" type="text" id="hobbies-search" name="friends_search" placeholder="Sở thích" [(ngModel)]="searchData.hobbies">
      </div>

      <div class="col-4 mb-3 mt-3">
        <select class="form-control" id="dob-search" name="friends_filter_category" [(ngModel)]="selectedYear">
          <option value="">Chọn năm sinh</option>
          <option value="1980 - 1990">1980 - 1990</option>
          <option value="1990 - 2000">1990 - 2000</option>
          <option value="2000 - 2010">2000 - 2010</option>
          <option value="2010 - 2020">2010 - 2020</option>
        </select>
      </div>

        <div class="col-4 mb-3 mt-3">
          <select class="form-control" id="gender-search" name="friends_filter_category" [(ngModel)]="searchData.gender">
            <option value="3">Chọn giới tính</option>
            <option value="1">Nam</option>
            <option value="0">Nữ</option>
          </select>
        </div>

        <div class="col-4 mb-3 mt-3">
          <select class="form-control" id="location-search" name="friends_filter_category" [(ngModel)]="searchData.city">
            <option value="0">Chọn nơi sống</option>
            <option *ngFor="let city of cityList" [value]="city.id">{{city.name}}</option>
          </select>
        </div>
    </div>
    <div class="row mb-3 mt-3">


      <div style="margin-left: 16px !important; height: 54px !important; width: 120px !important;">
        <button class="button primary" (click)="searchMember()">
          <svg class="icon-magnifying-glass"><use xlink:href="#svg-magnifying-glass"></use></svg> Tìm kiếm
        </button>
      </div>
      <div style="margin-left: 16px !important; height: 54px !important; width: 120px !important;">
        <button class="button warning" (click)="clearSearch()">
          <svg class="icon-delete"><use xlink:href="#svg-delete"></use></svg> Bỏ tìm kiếm
        </button>
      </div>
    </div>


  </div>

  <!-- GRID -->
  <div class="grid grid-4-4-4 centered">
    <!-- USER PREVIEW -->
    <div class="user-preview" *ngFor="let user of displayList">
      <!-- USER PREVIEW COVER -->
      <figure class="user-preview-cover liquid">
        <img [src]="user.backgroundImage">
      </figure>
      <!-- /USER PREVIEW COVER -->

      <!-- USER PREVIEW INFO -->
      <div class="user-preview-info">
        <!-- USER SHORT DESCRIPTION -->
        <div class="user-short-description">
          <!-- USER SHORT DESCRIPTION AVATAR -->
          <a class="user-short-description-avatar user-avatar medium" [routerLink]="['/account-wall/', user.id ,'wall']">
            <!-- USER AVATAR BORDER -->
            <div class="user-avatar-border">
              <!-- HEXAGON -->
              <div class="hexagon-120-132"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR BORDER -->

            <!-- USER AVATAR CONTENT -->
            <div class="user-avatar-content">
              <!-- HEXAGON -->
              <div class="hexagon-image-82-90" [attr.data-src]="user.avatar"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR CONTENT -->

            <!-- USER AVATAR PROGRESS -->
            <div class="user-avatar-progress">
              <!-- HEXAGON -->
              <div class="hexagon-progress-100-110"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS -->

            <!-- USER AVATAR PROGRESS BORDER -->
            <div class="user-avatar-progress-border">
              <!-- HEXAGON -->
              <div class="hexagon-border-100-110"></div>
              <!-- /HEXAGON -->
            </div>
            <!-- /USER AVATAR PROGRESS BORDER -->

          </a>
          <!-- /USER SHORT DESCRIPTION AVATAR -->

          <!-- USER SHORT DESCRIPTION TITLE -->
          <p class="user-short-description-title"><a [routerLink]="['/account-wall/', user.id ,'wall']">{{user.fullName}}</a></p>
          <!-- /USER SHORT DESCRIPTION TITLE -->

          <!-- USER SHORT DESCRIPTION TEXT -->
          <p class="user-short-description-text"><a href="#">{{user.accountDescribe}}</a></p>
          <!-- /USER SHORT DESCRIPTION TEXT -->
        </div>
        <!-- /USER SHORT DESCRIPTION -->


        <!-- USER PREVIEW STATS SLIDES -->
        <div id="user-preview-stats-slides-01" class="user-preview-stats-slides">
          <!-- USER PREVIEW STATS SLIDE -->
          <div class="user-preview-stats-slide">
            <!-- USER STATS -->
            <div class="user-stats">
              <!-- USER STAT -->
              <div class="user-stat">
                <!-- USER STAT TITLE -->
                <p class="user-stat-title">{{user.postCount}}</p>
                <!-- /USER STAT TITLE -->

                <!-- USER STAT TEXT -->
                <p class="user-stat-text">Bài</p>
                <!-- /USER STAT TEXT -->
              </div>
              <!-- /USER STAT -->

              <!-- USER STAT -->
              <div class="user-stat">
                <!-- USER STAT TITLE -->
                <p class="user-stat-title">{{user.friendCount}}</p>
                <!-- /USER STAT TITLE -->

                <!-- USER STAT TEXT -->
                <p class="user-stat-text">Bạn</p>
                <!-- /USER STAT TEXT -->
              </div>
              <!-- /USER STAT -->

              <!-- USER STAT -->
              <div class="user-stat">
                <!-- USER STAT TITLE -->
                <p class="user-stat-title">{{user.likeCount != null? user.likeCount: '0'}}</p>
                <!-- /USER STAT TITLE -->

                <!-- USER STAT TEXT -->
                <p class="user-stat-text">Quan tâm</p>
                <!-- /USER STAT TEXT -->
              </div>
              <!-- /USER STAT -->
            </div>
            <!-- /USER STATS -->
          </div>
          <!-- /USER PREVIEW STATS SLIDE -->

        </div>
        <!-- /USER PREVIEW STATS SLIDES -->


        <!-- USER PREVIEW ACTIONS -->
        <div class="user-preview-actions">
          <!-- BUTTON -->
          <p class="button secondary">Thêm bạn +</p>
          <!-- /BUTTON -->

          <!-- BUTTON -->
          <p class="button primary">Gửi tin nhắn</p>
          <!-- /BUTTON -->
        </div>
        <!-- /USER PREVIEW ACTIONS -->
      </div>
      <!-- /USER PREVIEW INFO -->
    </div>
    <!-- /USER PREVIEW -->

  </div>
  <!-- /GRID -->

  <!-- SECTION RESULTS TEXT -->
  <p class="section-results-text" style="margin: 20px 0 !important;">Hiển thị {{totalDisplayed}}/ {{totalResult}} bạn</p>
  <!-- /SECTION RESULTS TEXT -->
</div>

