<div class="content-grid">
  <!-- SECTION BANNER -->
  <div class="section-banner">
    <!-- SECTION BANNER ICON -->
    <img class="section-banner-icon" src="assets/img/banner/groups-icon.png" alt="group-icon">
    <!-- /SECTION BANNER ICON -->

    <!-- SECTION BANNER TITLE -->
    <p class="section-banner-title">Hộp thư nhóm</p>
    <!-- /SECTION BANNER TITLE -->

    <!-- SECTION BANNER TEXT -->
    <p class="section-banner-text">Tin nhắn, gửi thông điệp, tình yêu và nhiều hơn thế nữa !</p>
    <!-- /SECTION BANNER TEXT -->
  </div>
  <!-- /SECTION BANNER -->

  <!-- GRID -->
  <div class="grid grid-3-9 medium-space">
    <!-- GRID COLUMN -->
    <div class="account-hub-sidebar">
      <!-- SIDEBAR BOX -->
      <div class="sidebar-box no-padding">
        <!-- SIDEBAR MENU -->
        <div class="sidebar-menu round-borders">
          <!-- SIDEBAR MENU ITEM -->
          <div class="sidebar-menu-item">
            <!-- SIDEBAR MENU HEADER -->
            <div class="sidebar-menu-header accordion-trigger-linked">
              <!-- SIDEBAR MENU HEADER ICON -->
              <svg class="sidebar-menu-header-icon icon-profile">
                <use xlink:href="#svg-profile"></use>
              </svg>
              <!-- /SIDEBAR MENU HEADER ICON -->

              <!-- SIDEBAR MENU HEADER CONTROL ICON -->
              <div class="sidebar-menu-header-control-icon">
                <!-- SIDEBAR MENU HEADER CONTROL ICON OPEN -->
                <svg class="sidebar-menu-header-control-icon-open icon-minus-small">
                  <use xlink:href="#svg-minus-small"></use>
                </svg>
                <!-- /SIDEBAR MENU HEADER CONTROL ICON OPEN -->

                <!-- SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                <svg class="sidebar-menu-header-control-icon-closed icon-plus-small">
                  <use xlink:href="#svg-plus-small"></use>
                </svg>
                <!-- /SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
              </div>
              <!-- /SIDEBAR MENU HEADER CONTROL ICON -->

              <!-- SIDEBAR MENU HEADER TITLE -->
              <p class="sidebar-menu-header-title">Trang cá nhân</p>
              <!-- /SIDEBAR MENU HEADER TITLE -->

              <!-- SIDEBAR MENU HEADER TEXT -->
              <p class="sidebar-menu-header-text">Nguyễn Phúc Duy</p>
              <!-- /SIDEBAR MENU HEADER TEXT -->
            </div>
            <!-- /SIDEBAR MENU HEADER -->

            <!-- SIDEBAR MENU BODY -->
            <div class="sidebar-menu-body accordion-content-linked accordion-open">
              <!-- SIDEBAR MENU LINK -->
              <a class="sidebar-menu-link" href="hub-profile-info.html">Thông Tin Cá Nhân</a>
              <!-- /SIDEBAR MENU LINK -->

              <!-- SIDEBAR MENU LINK -->
              <a class="sidebar-menu-link active" href="hub-profile-messages.html">Tin Nhắn</a>
              <!-- /SIDEBAR MENU LINK -->

              <!-- SIDEBAR MENU LINK -->
              <a class="sidebar-menu-link" href="hub-profile-requests.html">Yêu cầu kết bạn</a>
              <!-- /SIDEBAR MENU LINK -->
            </div>
            <!-- /SIDEBAR MENU BODY -->
          </div>
          <!-- /SIDEBAR MENU ITEM -->

          <!-- SIDEBAR MENU ITEM -->
          <div class="sidebar-menu-item">
            <!-- SIDEBAR MENU HEADER -->
            <div class="sidebar-menu-header accordion-trigger-linked">
              <!-- SIDEBAR MENU HEADER ICON -->
              <svg class="sidebar-menu-header-icon icon-settings">
                <use xlink:href="#svg-settings"></use>
              </svg>
              <!-- /SIDEBAR MENU HEADER ICON -->

              <!-- SIDEBAR MENU HEADER CONTROL ICON -->
              <div class="sidebar-menu-header-control-icon">
                <!-- SIDEBAR MENU HEADER CONTROL ICON OPEN -->
                <svg class="sidebar-menu-header-control-icon-open icon-minus-small">
                  <use xlink:href="#svg-minus-small"></use>
                </svg>
                <!-- /SIDEBAR MENU HEADER CONTROL ICON OPEN -->

                <!-- SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                <svg class="sidebar-menu-header-control-icon-closed icon-plus-small">
                  <use xlink:href="#svg-plus-small"></use>
                </svg>
                <!-- /SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
              </div>
              <!-- /SIDEBAR MENU HEADER CONTROL ICON -->

              <!-- SIDEBAR MENU HEADER TITLE -->
              <p class="sidebar-menu-header-title">Tài khoản</p>
              <!-- /SIDEBAR MENU HEADER TITLE -->

              <!-- SIDEBAR MENU HEADER TEXT -->
              <p class="sidebar-menu-header-text">Cài đặt bảo mật</p>
              <!-- /SIDEBAR MENU HEADER TEXT -->
            </div>
            <!-- /SIDEBAR MENU HEADER -->

            <!-- SIDEBAR MENU BODY -->
            <div class="sidebar-menu-body accordion-content-linked">
              <!-- SIDEBAR MENU LINK -->
              <a class="sidebar-menu-link" href="hub-account-info.html">Thông tin tài khoản</a>
              <!-- /SIDEBAR MENU LINK -->

              <!-- SIDEBAR MENU LINK -->
              <a class="sidebar-menu-link" href="hub-account-password.html">Đổi mật khẩu
              </a>
              <!-- /SIDEBAR MENU LINK -->

              <!-- SIDEBAR MENU LINK -->
              <a class="sidebar-menu-link" href="hub-account-settings.html">Cài đặt chung</a>
              <!-- /SIDEBAR MENU LINK -->
            </div>
            <!-- /SIDEBAR MENU BODY -->
          </div>
          <!-- /SIDEBAR MENU ITEM -->

          <!-- SIDEBAR MENU ITEM -->
          <div class="sidebar-menu-item">
            <!-- SIDEBAR MENU HEADER -->
            <div class="sidebar-menu-header accordion-trigger-linked">
              <!-- SIDEBAR MENU HEADER ICON -->
              <svg class="sidebar-menu-header-icon icon-group">
                <use xlink:href="#svg-group"></use>
              </svg>
              <!-- /SIDEBAR MENU HEADER ICON -->

              <!-- SIDEBAR MENU HEADER CONTROL ICON -->
              <div class="sidebar-menu-header-control-icon">
                <!-- SIDEBAR MENU HEADER CONTROL ICON OPEN -->
                <svg class="sidebar-menu-header-control-icon-open icon-minus-small">
                  <use xlink:href="#svg-minus-small"></use>
                </svg>
                <!-- /SIDEBAR MENU HEADER CONTROL ICON OPEN -->

                <!-- SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                <svg class="sidebar-menu-header-control-icon-closed icon-plus-small">
                  <use xlink:href="#svg-plus-small"></use>
                </svg>
                <!-- /SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
              </div>
              <!-- /SIDEBAR MENU HEADER CONTROL ICON -->

              <!-- SIDEBAR MENU HEADER TITLE -->
              <p class="sidebar-menu-header-title">Nhóm</p>
              <!-- /SIDEBAR MENU HEADER TITLE -->

              <!-- SIDEBAR MENU HEADER TEXT -->
              <p class="sidebar-menu-header-text">Tạo nhóm mới, quản lý những nhóm bạn đã tạo hoặc chấp
                nhận lời mời!</p>
              <!-- /SIDEBAR MENU HEADER TEXT -->
            </div>
            <!-- /SIDEBAR MENU HEADER -->

            <!-- SIDEBAR MENU BODY -->
            <div class="sidebar-menu-body accordion-content-linked">
              <!-- SIDEBAR MENU LINK -->
              <a class="sidebar-menu-link" href="hub-group-management.html">Quản lý nhóm</a>
              <!-- /SIDEBAR MENU LINK -->

              <!-- SIDEBAR MENU LINK -->
              <a class="sidebar-menu-link" href="hub-group-invitations.html">Lời Mời</a>
              <!-- /SIDEBAR MENU LINK -->
            </div>
            <!-- /SIDEBAR MENU BODY -->
          </div>
          <!-- /SIDEBAR MENU ITEM -->

          <!-- SIDEBAR MENU ITEM -->
          <!-- /SIDEBAR MENU ITEM -->
        </div>
        <!-- /SIDEBAR MENU -->
      </div>
      <!-- /SIDEBAR BOX -->
    </div>
    <!-- /GRID COLUMN -->

    <!-- GRID COLUMN -->
    <div class="account-hub-content">
      <!-- SECTION HEADER -->
      <div class="section-header">
        <!-- SECTION HEADER INFO -->
        <div class="section-header-info">
          <!-- SECTION PRETITLE -->
          <p class="section-pretitle">Thông Tin</p>
          <!-- /SECTION PRETITLE -->

          <!-- SECTION TITLE -->
          <h2 class="section-title">Tin Nhắn</h2>
          <!-- /SECTION TITLE -->
        </div>
        <!-- /SECTION HEADER INFO -->

        <!-- SECTION HEADER ACTIONS -->
        <div class="section-header-actions">
          <!-- SECTION HEADER ACTION -->
          <p class="section-header-action">Đánh dấu đã đọc</p>
          <!-- /SECTION HEADER ACTION -->

          <!-- SECTION HEADER ACTION -->
          <p class="section-header-action">Cài đặt</p>
          <!-- /SECTION HEADER ACTION -->
        </div>
        <!-- /SECTION HEADER ACTIONS -->
      </div>
      <!-- /SECTION HEADER -->

      <!-- CHAT WIDGET WRAP -->
      <div class="chat-widget-wrap">
        <!-- CHAT WIDGET -->
        <div class="chat-widget static">
          <!-- CHAT WIDGET MESSAGES -->
          <div class="chat-widget-messages" data-simplebar>
            <!-- CHAT WIDGET MESSAGE -->
            <div class="chat-widget-message active">
              <!-- USER STATUS -->
              <div class="user-status">
                <!-- USER STATUS AVATAR -->
                <div class="user-status-avatar">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="img/avatar/04.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>

                  </div>
                  <!-- /USER AVATAR -->
                </div>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><span class="bold">Hội những người yêu Moè</span><span
                  *ngIf="notification_number"> ({{notification_number}})</span>
                </p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TEXT -->
                <p class="user-status-text"><span class="font-weight-bold">{{sender}}: </span>{{content}}</p>
                <!-- /USER STATUS TEXT -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp floaty">2 giờ trước</p>
                <!-- /USER STATUS TIMESTAMP -->
              </div>
              <!-- /USER STATUS -->
            </div>
            <!-- /CHAT WIDGET MESSAGE -->

            <!-- CHAT WIDGET MESSAGE -->
            <div class="chat-widget-message">
              <!-- USER STATUS -->
              <div class="user-status">
                <!-- USER STATUS AVATAR -->
                <div class="user-status-avatar">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="img/avatar/05.jpg"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->

                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->

                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                  </div>
                  <!-- /USER AVATAR -->
                </div>
                <!-- /USER STATUS AVATAR -->

                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><span class="bold">Lớp C0720G1</span></p>
                <!-- /USER STATUS TITLE -->

                <!-- USER STATUS TEXT -->
                <p class="user-status-text"><span class="font-weight-bold">Hoàng Tứ: </span>Tối nay ai
                  đi cà phê hômmm ?</p>
                <!-- /USER STATUS TEXT -->

                <!-- USER STATUS TIMESTAMP -->
                <p class="user-status-timestamp floaty">54 phút trước</p>
                <!-- /USER STATUS TIMESTAMP -->
              </div>
              <!-- /USER STATUS -->
            </div>
            <!-- /CHAT WIDGET MESSAGE -->

          </div>
          <!-- /CHAT WIDGET MESSAGES -->

          <!-- CHAT WIDGET FORM -->
          <form class="chat-widget-form">
            <!-- INTERACTIVE INPUT -->
            <div class="interactive-input small">
              <input type="text" id="chat-widget-search-2" name="chat_widget_search_2"
                     placeholder="Tìm tin nhắn ...">
              <!-- INTERACTIVE INPUT ICON WRAP -->
              <div class="interactive-input-icon-wrap">
                <!-- INTERACTIVE INPUT ICON -->
                <svg class="interactive-input-icon icon-magnifying-glass">
                  <use xlink:href="#svg-magnifying-glass"></use>
                </svg>
                <!-- /INTERACTIVE INPUT ICON -->
              </div>
              <!-- /INTERACTIVE INPUT ICON WRAP -->

              <!-- INTERACTIVE INPUT ACTION -->
              <div class="interactive-input-action">
                <!-- INTERACTIVE INPUT ACTION ICON -->
                <svg class="interactive-input-action-icon icon-cross-thin">
                  <use xlink:href="#svg-cross-thin"></use>
                </svg>
                <!-- /INTERACTIVE INPUT ACTION ICON -->
              </div>
              <!-- /INTERACTIVE INPUT ACTION -->
            </div>
            <!-- /INTERACTIVE INPUT -->
          </form>
          <!-- /CHAT WIDGET FORM -->
        </div>
        <!-- /CHAT WIDGET -->

        <!-- CHAT WIDGET -->
        <div class="chat-widget">
          <!-- CHAT WIDGET HEADER -->
          <div class="chat-widget-header">
            <!-- CHAT WIDGET SETTINGS -->
            <!-- CHAT WIDGET SETTINGS -->

            <!-- USER STATUS -->
            <div class="user-status">
              <!-- USER STATUS AVATAR -->
              <div class="user-status-avatar">
                <!-- USER AVATAR -->
                <div class="user-avatar small no-outline online">
                  <!-- USER AVATAR CONTENT -->
                  <div class="user-avatar-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-image-30-32" id="main-avatar9"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR CONTENT -->

                  <!-- USER AVATAR PROGRESS -->
                  <div class="user-avatar-progress">
                    <!-- HEXAGON -->
                    <div class="hexagon-progress-40-44"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR PROGRESS -->

                  <!-- USER AVATAR PROGRESS BORDER -->
                  <div class="user-avatar-progress-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-border-40-44"></div>
                    <!-- /HEXAGON -->
                  </div>

                </div>
                <!-- /USER AVATAR -->
              </div>
              <!-- /USER STATUS AVATAR -->

              <!-- USER STATUS TITLE -->
              <p class="user-status-title"><span class="bold">Hội những người yêu Moè</span></p>
              <!-- /USER STATUS TITLE -->

              <!-- USER STATUS TAG -->
              <p class="user-status-tag online">Trực tuyến</p>
              <!-- /USER STATUS TAG -->
            </div>
            <!-- /USER STATUS -->
          </div>
          <!-- /CHAT WIDGET HEADER -->

          <!-- CHAT WIDGET CONVERSATION -->
          <div class="position-relative">
            <div class="chat-messages p-4" #scrollMe infiniteScroll
                 [infiniteScrollUpDistance]="1"
                 [alwaysCallback]="true"
                 [infiniteScrollThrottle]="200"
                 [scrollWindow]="false"
                 (scrolledUp)="onScroll1()">
              <div *ngIf="hiddenLoadMessage">
                <ng-container *ngIf="isUpToDate; else notUpToDate ">
                  <div class="page-loader-indicator loader-bars">
                   Tất cả đã được cập nhập 🎉 🎉 🎉
                  </div>
                </ng-container>
                <ng-template #notUpToDate>
                  <div class="page-loader-indicator loader-bars">
                    Tải thêm ...
                  </div>
                </ng-template>
                <div class="page-loader-indicator loader-bars">
                  <div class="loader-bar"></div>
                  <div class="loader-bar"></div>
                  <div class="loader-bar"></div>
                  <div class="loader-bar"></div>
                  <div class="loader-bar"></div>
                  <div class="loader-bar"></div>
                  <div class="loader-bar"></div>
                  <div class="loader-bar"></div>
                </div>
              </div>
              <!--              <div *ngIf="">-->
              <!--                <span class="page-loader-indicator loader-bars">Đã hết tin nhắn</span>-->
              <!--              </div>-->


              <div *ngFor="let msg of messageList">
                <div *ngIf="msg.content == null; then join else chat"></div>
                <ng-template #join>
                  <p hidden>{{msg.sender}} JOIN</p>
                </ng-template>
                <ng-template #chat>
                  <div *ngIf="msg.sender == username;then current_user else other_user"></div>
                  <ng-template #current_user>

                    <div class="chat-message-right pb-4">
                      <div>
                        <img [src]="msg.imgUrl" class="rounded-circle mr-1"
                             alt="Chris Wood" width="40" height="40">
                        <div class="text-muted small text-nowrap mt-2">{{msg.timeStamp}}</div>
                      </div>
                      <div class="flex-shrink-10 bg-custom-right rounded py-2 px-3 mr-3 ">
                        <div class="font-weight-bold mb-1">{{msg.sender}}</div>
                        {{msg.content}}
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #other_user>
                    <div class="chat-message-left pb-4">
                      <div>
                        <img [src]="msg.imgUrl" class="rounded-circle mr-1"
                             alt="Chris Wood" width="40" height="40">
                        <div class="text-muted small text-nowrap mt-2">{{msg.timeStamp}}</div>
                      </div>
                      <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                        <div class="font-weight-bold mb-1">{{msg.sender}}</div>
                        {{msg.content}}
                      </div>
                    </div>
                  </ng-template>
                </ng-template>

              </div>
            </div>
          </div>
          <!-- CHAT WIDGET FORM -->
          <form [formGroup]="formGroup" (ngSubmit)="sendMessage()">
            <div class="rec-container" *ngIf="imgURL">
              <div class="publisher-btn-close">
                <button><i class="fa fa-times-circle"></i></button>
              </div>
              <div class="rec-1">
                <img [src]="imgURL" height="50" class="rec-2">
              </div>
            </div>


            <div class="publisher bt-1 border-light">
              <input id="input-chat" class="publisher-input" type="text" placeholder="Write something" ngModel
                     formControlName="message">
              <!--              <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>-->
              <a type="file" class="publisher-btn" data-abc="true" (click)="toggleEmoji()"><i class="fa fa-smile"></i>
                <input type="file"
                       style="display:none;">
              </a>
              <a (click)="uploadImg()" class="publisher-btn" data-abc="true"><i class="fa fa-paperclip"></i></a>
              <input #file type="file" id="upload-img" accept="image/x-png,image/gif,image/jpeg"
                     (change)="preview(file.files)" hidden/>

              <div id="emoji">
                <emoji-mart set="facebook" (emojiClick)="addEmoji($event)"></emoji-mart>
              </div>

              <button class="publisher-btn text-info" type="submit" data-abc="true"><i class="fa fa-paper-plane"></i>
              </button>
            </div>

            <!--            emoji picker zone-->
            <!--            /emoji picker zone-->
          </form>
          <!-- /CHAT WIDGET FORM -->
        </div>
        <!-- /CHAT WIDGET -->
      </div>
      <!-- /CHAT WIDGET WRAP -->
    </div>
    <!-- /GRID COLUMN -->
  </div>
  <!-- /GRID -->
</div>
