<!--<link rel="stylesheet" href="src/assets/css/vendor/bootstrap.min.css">-->
<!--&lt;!&ndash; styles &ndash;&gt;-->
<!--<link rel="stylesheet" href="src/assets/css/styles.min.css">-->
<!--&lt;!&ndash; favicon &ndash;&gt;-->
<!--<link rel="icon" href="src/assets/img/favicon.ico">-->

<!-- ERROR SECTION -->
<div class="error-section">
  <!-- ERROR SECTION TITLE -->
  <p class="error-section-title"></p>
  <!-- /ERROR SECTION TITLE -->

  <!-- BUTTON -->
  <a class="button medium primary" routerLink="/login">Trở lại</a>
  <!-- /BUTTON -->
  <!-- ERROR SECTION INFO -->
  <div class="error-section-info">
    <!-- ERROR SECTION SUBTITLE -->
    <p class="error-section-subtitle">Dating</p>
    <!-- /ERROR SECTION SUBTITLE -->
    <form [formGroup]="formForgotPassword" (ngSubmit)="submit()">
      <div class="form-row">
        <!-- FORM ITEM -->
        <div class="form-item">
          <!-- FORM INPUT -->
          <div class="form-input">
            <label for="login-username">Email của bạn</label>
            <input type="text" id="login-username" name="login_username" formControlName="userName">
            <button class="button medium secondary" type="submit" style="position: absolute; top: 30px; left: 0px">Lấy
              lại mật khẩu
            </button>
          </div>
          <!-- /FORM INPUT -->
        </div>
      </div>
    </form>

    <!--      <div class="form-row">-->
<!--        &lt;!&ndash; FORM ITEM &ndash;&gt;-->
<!--        <div class="form-item">-->
<!--          &lt;!&ndash; BUTTON &ndash;&gt;-->
<!--          <button class="button medium secondary" type="submit">Đăng nhập</button>-->
<!--          &lt;!&ndash; /BUTTON &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /FORM ITEM &ndash;&gt;-->
<!--      </div>-->
      <!-- /FORM ITEM -->
    </div>

    <!-- ERROR SECTION TEXT -->
    <!-- /ERROR SECTION TEXT -->

    <!-- BUTTON -->
    <!-- /BUTTON -->

  <!-- /ERROR SECTION INFO -->
</div>
<!-- /ERROR SECTION -->
