<!--<link rel="stylesheet" href="src/assets/css/vendor/bootstrap.min.css">-->
<!--&lt;!&ndash; styles &ndash;&gt;-->
<!--<link rel="stylesheet" href="src/assets/css/styles.min.css">-->
<!--&lt;!&ndash; favicon &ndash;&gt;-->
<!--<link rel="icon" href="src/assets/img/favicon.ico">-->

<!-- ERROR SECTION -->
<div class="error-section">
  <!-- ERROR SECTION TITLE -->
  <p class="error-section-title"></p>
  <a class="button medium primary" routerLink="/login">Trở lại</a>
  <!-- /ERROR SECTION TITLE -->

  <!-- ERROR SECTION INFO -->
  <div class="error-section-info">
    <!-- ERROR SECTION SUBTITLE -->
    <p class="error-section-subtitle">ERROR!@@!</p>
    <!-- /ERROR SECTION SUBTITLE -->

    <!-- ERROR SECTION TEXT -->
    <p class="error-section-text">Tài khoản của bạn đã bị khóa</p>
    <!-- /ERROR SECTION TEXT -->

    <!-- ERROR SECTION TEXT -->
    <p class="error-section-text">Nếu có vấn đề gì, mời bạn liên hệ theo địa chỉ sau <a href="#">support@vikinger.com</a></p>
    <!-- /ERROR SECTION TEXT -->

    <!-- BUTTON -->

    <!-- /BUTTON -->
  </div>
  <!-- /ERROR SECTION INFO -->
</div>
<!-- /ERROR SECTION -->
