<div style="margin: 100px">
  <div class="widget-box">
    <form [formGroup]="formGroup" (ngSubmit)="updateInformation()">
    <p class="widget-box-title">Hãy điền những thông tin bên dưới *</p>
    <div class="widget-box-content">
      <div   class="form">
        <div class="form-row split">
          <div class="form-item">
            <div class="form-input small active">
              <label for="profile-name">Tên thường gọi *</label>
              <input type="text" id="profile-name" name="profile_name" placeholder="Tên thường gọi">
              <div class="error-place" *ngFor="let validation of validation_messages.fullName">
                <small class="text-danger"
                       *ngIf="(formGroup.get('fullName').hasError(validation.type) && formGroup.get('fullName' +
                        '').touched)">
                  {{validation.message}}</small>
              </div>
            </div>
          </div>

          <div class="form-item">
            <div class="form-input small active">
              <label for="profile-tagline">Địa chỉ *</label>
              <input type="text" id="profile-tagline" name="profile_tagline" placeholder="Địa chỉ">
            </div>
          </div>
        </div>

        <div class="form-row split">
          <div class="form-item">
            <div class="form-select">
              <label for="profile-country">Quốc gia bạn đang sống *</label>
              <select id="profile-country" name="profile_country">
                <option value="0">Việt Nam</option>
                <option value="1" selected>Mỹ</option>
                <option value="2" selected>Tây Ban Nha</option>
                <option value="3" selected>Brazil</option>
                <option value="4" selected>Canada</option>
                <option value="5" selected>Hãy chọn quốc gia</option>
              </select>
              <svg class="form-select-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
              </svg>
            </div>
          </div>

          <div class="form-item">
            <div class="form-select">
              <label for="profile-city">Thành phố bạn đang sống *</label>
              <select id="profile-city" name="profile_city">
                <option value="0">Hà Nội</option>
                <option value="1" selected>TP.HCM</option>
                <option value="1" selected>Đà Nẵng</option>
                <option value="1" selected>Hải Phòng</option>
                <option value="1" selected>Cần Thơ</option>
              </select>
              <svg class="form-select-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
              </svg>
            </div>
          </div>
        </div>

        <div class="form-row split">
          <div class="form-item">
            <div class="form-select">
              <label for="profile-city">Nghề Nghiệp *</label>
              <select id="profile-job" name="profile_city">
                <option value="0">Sinh viên</option>
                <option value="1" selected>Nhân viên Văn Phòng</option>
                <option value="2" selected>Sĩ quan quân đội</option>
                <option value="3" selected>Giáo viên</option>
                <option value="4" selected>Công nhân</option>
                <option value="5" selected>Khác</option>
              </select>
              <svg class="form-select-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
              </svg>
            </div>
          </div>

          <div class="form-item">
            <div class="form-select">
              <label for="profile-city">Đối tượng muốn kết bạn *</label>
              <select id="profile-city2" name="profile_city">
                <option value="0">Nam</option>
                <option value="1" selected>Nữ</option>
              </select>
              <svg class="form-select-icon icon-small-arrow">
                <use xlink:href="#svg-small-arrow"></use>
              </svg>
            </div>
          </div>
        </div>



        <div class="form-row split">
          <div class="form-item">
            <div class="form-input small full">
                            <textarea id="profile-description" name="profile_description"
                                      placeholder="Hãy viết một vài thông tin mô tả về bạn"></textarea>
            </div>
          </div>
          <div class="upload-box">
            <svg class="upload-box-icon icon-members">
              <use xlink:href="#svg-members"></use>
            </svg>
            <p class="upload-box-title">Tải ảnh đại diện</p>
            <p class="upload-box-text">110x110px size minimum</p>

          </div>
        </div>
        <div class="form-row">
          <div class="form-item">
            <button class="button secondary full popup-manage-group-trigger" type="submit">Cập nhật thông tin</button>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
