<!-- CONTENT GRID -->
<div class="content-grid">
  <!-- SECTION BANNER -->
  <div class="section-banner">
    <!-- SECTION BANNER ICON -->
    <img class="section-banner-icon" src="assets/img/banner/accounthub-icon.png" alt="accounthub-icon">
    <!-- /SECTION BANNER ICON -->

    <!-- SECTION BANNER TITLE -->
    <p class="section-banner-title">Account Hub</p>
    <!-- /SECTION BANNER TITLE -->

    <!-- SECTION BANNER TEXT -->
    <p class="section-banner-text">Profile info, messages, settings and much more!</p>
    <!-- /SECTION BANNER TEXT -->
  </div>
  <!-- /SECTION BANNER -->

  <!-- GRID -->
  <div class="grid grid-3-9 medium-space">
    <!-- GRID COLUMN -->
    <div class="account-hub-sidebar">
      <!-- SIDEBAR BOX -->
      <div class="sidebar-box no-padding">
        <!-- SIDEBAR MENU -->
        <div class="sidebar-menu">
          <!-- SIDEBAR MENU ITEM -->
          <div class="sidebar-menu-item">
            <!-- SIDEBAR MENU HEADER -->
            <div class="sidebar-menu-header accordion-trigger-linked">
              <!-- SIDEBAR MENU HEADER ICON -->
              <svg class="sidebar-menu-header-icon icon-profile">
                <use xlink:href="#svg-profile"></use>
              </svg>
              <!-- /SIDEBAR MENU HEADER ICON -->

              <!-- SIDEBAR MENU HEADER CONTROL ICON -->
              <div class="sidebar-menu-header-control-icon">
                <!-- SIDEBAR MENU HEADER CONTROL ICON OPEN -->
                <svg class="sidebar-menu-header-control-icon-open icon-minus-small">
                  <use xlink:href="#svg-minus-small"></use>
                </svg>
                <!-- /SIDEBAR MENU HEADER CONTROL ICON OPEN -->

                <!-- SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                <svg class="sidebar-menu-header-control-icon-closed icon-plus-small">
                  <use xlink:href="#svg-plus-small"></use>
                </svg>
                <!-- /SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
              </div>
              <!-- /SIDEBAR MENU HEADER CONTROL ICON -->

              <!-- SIDEBAR MENU HEADER TITLE -->
              <p class="sidebar-menu-header-title">Trang Cá Nhân</p>
              <!-- /SIDEBAR MENU HEADER TITLE -->
            </div>
            <!-- /SIDEBAR MENU HEADER -->

            <!-- SIDEBAR MENU BODY -->
            <div class="sidebar-menu-body accordion-content-linked accordion-open">
              <!-- SIDEBAR MENU LINK -->
              <a class="sidebar-menu-link active" href="hub-profile-info.html">Đổi Mật Khẩu</a>
              <!-- /SIDEBAR MENU LINK -->

              <!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
              <!--              <a class="sidebar-menu-link" href="hub-profile-social.html">Social &amp; Stream</a>-->
              <!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->

              <!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
              <!--              <a class="sidebar-menu-link" href="hub-profile-notifications.html">Notifications</a>-->
              <!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->

              <!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
              <!--              <a class="sidebar-menu-link" href="hub-profile-messages.html">Messages</a>-->
              <!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->

              <!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
              <!--              <a class="sidebar-menu-link" href="hub-profile-requests.html">Friend Requests</a>-->
              <!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->
            </div>
            <!-- /SIDEBAR MENU BODY -->
          </div>
          <!-- /SIDEBAR MENU ITEM -->

          <!-- SIDEBAR MENU ITEM -->
          <div class="sidebar-menu-item">
            <!-- SIDEBAR MENU HEADER -->
            <div class="sidebar-menu-header accordion-trigger-linked">
              <!-- SIDEBAR MENU HEADER ICON -->
              <svg class="sidebar-menu-header-icon icon-settings">
                <use xlink:href="#svg-settings"></use>
              </svg>
              <!-- /SIDEBAR MENU HEADER ICON -->

              <!-- SIDEBAR MENU HEADER CONTROL ICON -->
              <div class="sidebar-menu-header-control-icon">
                <!-- SIDEBAR MENU HEADER CONTROL ICON OPEN -->
                <svg class="sidebar-menu-header-control-icon-open icon-minus-small">
                  <use xlink:href="#svg-minus-small"></use>
                </svg>
                <!-- /SIDEBAR MENU HEADER CONTROL ICON OPEN -->

                <!-- SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
                <svg class="sidebar-menu-header-control-icon-closed icon-plus-small">
                  <use xlink:href="#svg-plus-small"></use>
                </svg>
                <!-- /SIDEBAR MENU HEADER CONTROL ICON CLOSED -->
              </div>
              <!-- /SIDEBAR MENU HEADER CONTROL ICON -->

              <!-- SIDEBAR MENU HEADER TITLE -->
              <p class="sidebar-menu-header-title">Tài Khoản</p>
              <!-- /SIDEBAR MENU HEADER TITLE -->

              <!-- SIDEBAR MENU HEADER TEXT -->
              <p class="sidebar-menu-header-text">Chỉnh Sửa Thông Tin Cá Nhân Và Quyền Riêng Tư</p>
              <!-- /SIDEBAR MENU HEADER TEXT -->
            </div>
            <!-- /SIDEBAR MENU HEADER -->

            <!-- SIDEBAR MENU BODY -->
<!--            <div class="sidebar-menu-body accordion-content-linked">-->
<!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
<!--              <a class="sidebar-menu-link" href="hub-account-info.html">Thông Tin Tài Khoản</a>-->
<!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->

<!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
<!--              <a class="sidebar-menu-link" href="hub-account-password.html">Đổi Mật Khẩu</a>-->
<!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->

<!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
<!--              <a class="sidebar-menu-link" href="hub-account-settings.html">General Settings</a>-->
<!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->
<!--            </div>-->
            <!-- /SIDEBAR MENU BODY -->
          </div>
          <!-- /SIDEBAR MENU ITEM -->

          <!-- SIDEBAR MENU ITEM -->
<!--          <div class="sidebar-menu-item">-->
<!--            &lt;!&ndash; SIDEBAR MENU HEADER &ndash;&gt;-->
<!--            <div class="sidebar-menu-header accordion-trigger-linked">-->
<!--              &lt;!&ndash; SIDEBAR MENU HEADER ICON &ndash;&gt;-->
<!--              <svg class="sidebar-menu-header-icon icon-group">-->
<!--                <use xlink:href="#svg-group"></use>-->
<!--              </svg>-->
<!--              &lt;!&ndash; /SIDEBAR MENU HEADER ICON &ndash;&gt;-->

<!--              &lt;!&ndash; SIDEBAR MENU HEADER CONTROL ICON &ndash;&gt;-->
<!--              <div class="sidebar-menu-header-control-icon">-->
<!--                &lt;!&ndash; SIDEBAR MENU HEADER CONTROL ICON OPEN &ndash;&gt;-->
<!--                <svg class="sidebar-menu-header-control-icon-open icon-minus-small">-->
<!--                  <use xlink:href="#svg-minus-small"></use>-->
<!--                </svg>-->
<!--                &lt;!&ndash; /SIDEBAR MENU HEADER CONTROL ICON OPEN &ndash;&gt;-->

<!--                &lt;!&ndash; SIDEBAR MENU HEADER CONTROL ICON CLOSED &ndash;&gt;-->
<!--                <svg class="sidebar-menu-header-control-icon-closed icon-plus-small">-->
<!--                  <use xlink:href="#svg-plus-small"></use>-->
<!--                </svg>-->
<!--                &lt;!&ndash; /SIDEBAR MENU HEADER CONTROL ICON CLOSED &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; /SIDEBAR MENU HEADER CONTROL ICON &ndash;&gt;-->

<!--              &lt;!&ndash; SIDEBAR MENU HEADER TITLE &ndash;&gt;-->
<!--              <p class="sidebar-menu-header-title">Groups</p>-->
<!--              &lt;!&ndash; /SIDEBAR MENU HEADER TITLE &ndash;&gt;-->

<!--              &lt;!&ndash; SIDEBAR MENU HEADER TEXT &ndash;&gt;-->
<!--              <p class="sidebar-menu-header-text">Create new groups, manage the ones you created or accept-->
<!--                invites!</p>-->
<!--              &lt;!&ndash; /SIDEBAR MENU HEADER TEXT &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; /SIDEBAR MENU HEADER &ndash;&gt;-->

<!--            &lt;!&ndash; SIDEBAR MENU BODY &ndash;&gt;-->
<!--            <div class="sidebar-menu-body accordion-content-linked">-->
<!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
<!--              <a class="sidebar-menu-link" href="hub-group-management.html">Manage Groups</a>-->
<!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->

<!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
<!--              <a class="sidebar-menu-link" href="hub-group-invitations.html">Invitations</a>-->
<!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; /SIDEBAR MENU BODY &ndash;&gt;-->
<!--          </div>-->
          <!-- /SIDEBAR MENU ITEM -->

          <!-- SIDEBAR MENU ITEM -->
<!--          <div class="sidebar-menu-item">-->
<!--            &lt;!&ndash; SIDEBAR MENU HEADER &ndash;&gt;-->
<!--            <div class="sidebar-menu-header accordion-trigger-linked">-->
<!--              &lt;!&ndash; SIDEBAR MENU HEADER ICON &ndash;&gt;-->
<!--              <svg class="sidebar-menu-header-icon icon-store">-->
<!--                <use xlink:href="#svg-store"></use>-->
<!--              </svg>-->
<!--              &lt;!&ndash; /SIDEBAR MENU HEADER ICON &ndash;&gt;-->

<!--              &lt;!&ndash; SIDEBAR MENU HEADER CONTROL ICON &ndash;&gt;-->
<!--              <div class="sidebar-menu-header-control-icon">-->
<!--                &lt;!&ndash; SIDEBAR MENU HEADER CONTROL ICON OPEN &ndash;&gt;-->
<!--                <svg class="sidebar-menu-header-control-icon-open icon-minus-small">-->
<!--                  <use xlink:href="#svg-minus-small"></use>-->
<!--                </svg>-->
<!--                &lt;!&ndash; /SIDEBAR MENU HEADER CONTROL ICON OPEN &ndash;&gt;-->

<!--                &lt;!&ndash; SIDEBAR MENU HEADER CONTROL ICON CLOSED &ndash;&gt;-->
<!--                <svg class="sidebar-menu-header-control-icon-closed icon-plus-small">-->
<!--                  <use xlink:href="#svg-plus-small"></use>-->
<!--                </svg>-->
<!--                &lt;!&ndash; /SIDEBAR MENU HEADER CONTROL ICON CLOSED &ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash; /SIDEBAR MENU HEADER CONTROL ICON &ndash;&gt;-->

<!--              &lt;!&ndash; SIDEBAR MENU HEADER TITLE &ndash;&gt;-->
<!--              <p class="sidebar-menu-header-title">My Store</p>-->
<!--              &lt;!&ndash; /SIDEBAR MENU HEADER TITLE &ndash;&gt;-->

<!--              &lt;!&ndash; SIDEBAR MENU HEADER TEXT &ndash;&gt;-->
<!--              <p class="sidebar-menu-header-text">Review your account, manage products check stats and-->
<!--                much more!</p>-->
<!--              &lt;!&ndash; /SIDEBAR MENU HEADER TEXT &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; /SIDEBAR MENU HEADER &ndash;&gt;-->

<!--            &lt;!&ndash; SIDEBAR MENU BODY &ndash;&gt;-->
<!--            <div class="sidebar-menu-body accordion-content-linked">-->
<!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
<!--              <a class="sidebar-menu-link" href="hub-store-account.html">My Account</a>-->
<!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->

<!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
<!--              <a class="sidebar-menu-link" href="hub-store-statement.html">Sales Statement</a>-->
<!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->

<!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
<!--              <a class="sidebar-menu-link" href="hub-store-items.html">Manage Items</a>-->
<!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->

<!--              &lt;!&ndash; SIDEBAR MENU LINK &ndash;&gt;-->
<!--              <a class="sidebar-menu-link" href="hub-store-downloads.html">Downloads</a>-->
<!--              &lt;!&ndash; /SIDEBAR MENU LINK &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; /SIDEBAR MENU BODY &ndash;&gt;-->
<!--          </div>-->
          <!-- /SIDEBAR MENU ITEM -->
        </div>
        <!-- /SIDEBAR MENU -->

        <!-- SIDEBAR BOX FOOTER -->
<!--        <div class="sidebar-box-footer">-->
<!--          &lt;!&ndash; BUTTON &ndash;&gt;-->
<!--          <p class="button primary">Save Changes!</p>-->
<!--          &lt;!&ndash; /BUTTON &ndash;&gt;-->

<!--          &lt;!&ndash; BUTTON &ndash;&gt;-->
<!--          <p class="button white small-space">Discard All</p>-->
<!--          &lt;!&ndash; /BUTTON &ndash;&gt;-->
<!--        </div>-->
        <!-- /SIDEBAR BOX FOOTER -->
      </div>
      <!-- /SIDEBAR BOX -->
    </div>
    <!-- /GRID COLUMN -->

    <!-- GRID COLUMN -->

    <div class="account-hub-content">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <!--          <form action="">-->
          <div class="form-group">
            <label class="mb-2" for="oldPassword">Nhâp Mật Khẩu Cũ</label>
            <input (change)="checkPassword($event.target.value)" type="password" class="form-control" id="oldPassword"
                   aria-describedby="emailHelp">
            <small *ngIf="!check" style="font-weight: bold; color: red">Mật Khẩu Sai Mời Nhập Lại !</small>
          </div>
          <div class="form-group">
            <label class="mb-2" for="newPassword">Nhập Mật Khẩu Mới</label>
            <input [readOnly]="!check || oldPassword === ''" [(ngModel)]="newPassword" type="text" class="form-control" id="newPassword">
          </div>
          <div class="form-group">
            <label class="mb-2" for="newPasswordAgain">Nhập Lại Mật Khẩu Mới</label>
            <input [readOnly]="!check || oldPassword === ''" (change)="againPassword($event.target.value)" type="password" class="form-control"
                   id="newPasswordAgain">
            <small *ngIf="!checkNewPass" style="font-weight: bold; color: red">Mật Khẩu Mới Không Trùng Khớp !</small>
          </div>
          <div class="row">
            <div class="col-6">
              <button [disabled]="!check || !checkNewPass" (click)="savePassword()" type="button" class="btn btn-primary">Lưu</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-dark">Thoát</button>
            </div>
          </div>
          <!--          </form>-->
        </div>
        <div class="col-2"></div>
      </div>
    </div>
    <!-- /GRID COLUMN -->
  </div>
  <!-- /GRID -->
</div>
<!-- /CONTENT GRID -->
